<footer>
    <div class="leftfooter">
        <img class="logo" src="../../assets/logos/logored.png" width="" height="" alt="" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error non quibusdam illo tenetur ex officiis
            corrupti amet explicabo laborum ipsum!</p>
        <div class="flexicons">
            <a target="_blank" href="https://www.facebook.com/exportportal.pk">
                <img src="../../assets/images/facebook-white.png" width="" height="" alt="" />
            </a>
            <a target="_blank" href="https://twitter.com/Exportportalpk">
                <img src="../../assets/images/twitter-white.png" width="" height="" alt="" />
            </a>
            <a target="_blank" href="https://www.instagram.com/exportportal.pk/">
                <img src="../../assets/images/instagram-white.png" width="" height="" alt="" />
            </a>
        </div>
    </div>
    <div class="rightfooter">
        <div>
            <h1>Quick Links</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/product">Products</a></li>
                <li> <a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>


            </ul>
        </div>
        <div class="contactus">
            <h1>Contact Us</h1>
            <ul>
                <li>
                    <img class="map" src="../../assets/images/Page-1.png" width="" height="" alt="" />
                    <a href="#">+46735449894</a>
                </li>
                <li>
                    <img class="emial" src="../../assets/images/paper-plane.png" width="" height="" alt="" />
                    <a href="#">contact
                        <br>@Brixtonbest.com</a>
                </li>
                <li><img class="phone" src="../../assets/images/global.png" width="" height="" alt="" />
                    <a href="exportportal.pk">brixtonbest.se</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <h6>
            COPYRIGHTS &copy 2020 Brixtonbest All Rights Reserved
        </h6>
    </div>
</footer>