<style>
  * {
    box-sizing: border-box;
  }

  .hero-element {
    position: absolute;
  }

  .fusion--player {
    background-color: #fff;
  }


  #guid_a7e9735b_b7a3_42c6_b469_c570def47b9b {
    position: absolute;
    width: 888px;
    height: 1152px;
    background-color: #fff;
  }

  #guid_abdd75d3_ab74_49bb_8afe_92f61fc64549 {
    width: 888px;
    height: 1152px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    pointer-events: none;
  }

  #guid_e182a310_69be_40c8_9574_83ab0a4fa970 {
    width: 687px;
    height: 188px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 101, 148);
    background-color: #f7f8fc;
    border-radius: 20px 20px 20px 20px;
  }

  #guid_a18f826d_c823_4d80_9c3d_6e91889ea3f0 {
    width: 687px;
    height: 188px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 101, 363);
    background-color: #f7f8fc;
    border-radius: 20px 20px 20px 20px;
  }

  #guid_29b8bf33_56d3_4467_a00a_c48859cee8fc {
    width: 798px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 45.5, 125.5);
    pointer-events: none;
  }

  #guid_bfbd8374_5acc_45ec_b984_0003d03ca119 {
    width: 73px;
    font-family: Oswald;
    font-size: 39px;
    color: #000;
    text-align: center;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 93, 40);
  }

  #guid_4d98a9fe_56e6_4b6c_8f8d_e9a0410cdb9b {
    width: 140.165px;
    height: 168px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 163, 157);
  }

  #guid_bef54ffd_ef33_421c_b867_0770e3ae56bd {
    width: 191px;
    font-family: Muli;
    font-size: 28px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 183);
  }

  #guid_2b77d1e2_878d_4ed3_abb4_4ae61fee9432 {
    width: 294px;
    font-family: Muli;
    font-size: 28px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 393);
  }

  #guid_dd2aa61e_6548_472a_920d_01b67ce40bdc {
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 157);
  }

  #guid_1104a1bf_a087_4126_9e95_b19ee61229e6 {
    width: 21px;
    font-family: Muli;
    font-size: 10px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 133.5, 2);
  }

  #guid_5821f0f2_0d36_4097_9c07_b4450269f2d6 {
    width: 118px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 0, 8.18798828125);
    pointer-events: none;
  }

  #guid_03cbc156_41f4_4358_bd8d_c45152738680 {
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 367);
  }

  #guid_dec5dc3e_fb28_4600_8d1f_9c7827d86a5f {
    width: 21px;
    font-family: Muli;
    font-size: 10px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 133.5, 2);
  }

  #guid_74c8cfe6_8a63_478e_9200_cfc9ac778b5a {
    width: 118px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 0, 8.18798828125);
    pointer-events: none;
  }

  #guid_c09af4f1_bcfd_4fcb_8d8d_f1c2cee3af61 {
    width: 47px;
    font-family: Oswald;
    font-size: 16px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 229);
  }

  #guid_127d64f9_6b4e_418b_a638_bddbe96c0779 {
    width: 47px;
    font-family: Oswald;
    font-size: 16px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 439);
  }

  #guid_4613c2b4_4a1e_4aee_af9d_d7e35535e038 {
    width: 32px;
    font-family: Oswald;
    font-size: 16px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 538.0000610351562, 229);
  }

  #guid_4f81a24b_a7ea_4234_81b4_c4dd88c2c843 {
    width: 10px;
    font-family: Oswald;
    font-size: 16px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 765.0000610351562, 155);
  }

  #guid_9dd40af0_b664_4b75_b136_d618da25a3cd {
    width: 10px;
    font-family: Oswald;
    font-size: 16px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 765.0000610351562, 365);
  }

  #guid_1f89febf_3f7b_44f3_be5f_03aba0a0a405 {
    width: 32px;
    font-family: Oswald;
    font-size: 16px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 538.0000610351562, 439);
  }

  #guid_310fa58e_c8fc_49c7_8de9_fcf001508949 {
    width: 12px;
    font-family: Muli;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 575, 232);
  }

  #guid_507d6e9f_e8ae_4edf_9a24_e8a2440b4e06 {
    width: 12px;
    font-family: Muli;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 575, 442);
  }

  #guid_59d47c29_57ca_4902_af71_c97473e161b2 {
    width: 40px;
    font-family: Muli;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 463.9999084472656, 232);
  }

  #guid_2cdad893_5104_4239_816d_36608968353f {
    width: 40px;
    font-family: Muli;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 463.9999084472656, 442);
  }

  #guid_2296d2a5_5f0c_47f3_8e29_bbcce9314560 {
    width: 105px;
    font-family: Oswald;
    font-size: 18px;
    color: #707070;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 265.567138671875);
  }

  #guid_37ae259f_8c4b_4567_9548_2e607806d614 {
    width: 105px;
    font-family: Oswald;
    font-size: 18px;
    color: #707070;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 475.567138671875);
  }

  #guid_477252af_2e0e_4e4b_8246_3273962f47e4 {
    width: 225px;
    font-family: Muli;
    font-size: 22.247400283813477px;
    color: #000;
    font-weight: 400;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 163, 989);
  }

  #guid_0dc63acc_8e2e_4efb_a850_775a20ab2f75 {
    width: 49px;
    font-family: Muli;
    font-size: 22.247400283813477px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 623.567138671875);
  }

  #guid_8b75f8c8_9ca5_40ac_933d_c764d39d9b6d {
    width: 133px;
    font-family: Muli;
    font-size: 38px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 163, 823);
  }

  #guid_473d203a_2a42_411e_bbf1_509d9da07c74 {
    width: 137px;
    font-family: Muli;
    font-size: 38px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 823);
  }

  #guid_44a04c35_0062_476b_8b3e_22ac36f67a94 {
    width: 36px;
    font-family: Muli;
    font-size: 22.247400283813477px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 412, 671.567138671875);
  }

  #guid_a5bf062b_106a_4943_ae11_65c222277afe {
    width: 97px;
    font-family: Muli;
    font-size: 22.247400283813477px;
    color: #000;
    font-weight: 400;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 163, 671.567138671875);
  }

  #guid_27fb4cc6_154b_4307_bdb2_61c115c3ec3d {
    width: 686px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 101.5, 352.5);
    opacity: 0.800000011920929;
    pointer-events: none;
  }

  #guid_03c0ba82_0c04_4e39_ad4b_694ab7b6cb7d {
    width: 686px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 101.5, 562.5);
    opacity: 0.800000011920929;
    pointer-events: none;
  }

  #guid_78be6190_cdd8_44b6_8974_11ab5ea5ea0b {
    width: 686px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 101.5, 758.5);
    opacity: 0.800000011920929;
    pointer-events: none;
  }

  #guid_0fbfa464_2a07_4d86_bc24_9a06054ae93f {
    width: 140.165px;
    height: 168px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 163, 373);
  }

  #guid_b20501a7_0718_437a_a041_a8bdb09e05fd {
    width: 228px;
    height: 81px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 560, 961);
    background-color: #f00;
    border-radius: 20px 20px 20px 20px;
  }

  #guid_c80e3b41_1da9_47d8_ac9b_f66ff27449ca {
    width: 97px;
    font-family: Muli;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 627, 989);
  }

  #guid_d777d890_54b4_4af4_939d_c1fee156611d {
    width: 69px;
    height: 69px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 91, 967);
  }
</style>



<!-- /////////////////////// -->
<!-- Player -->
<div class="wrapper" style="position: relative; width: 100%; height: 100%;">
  <div id="player" class="fusion--player" style="width: 100%; height: 100%; ">
    <div class="fusion--viewport">




      <div class="fusion--scene fusion--scene--default scene-guid_a7e9735b_b7a3_42c6_b469_c570def47b9b">
        <div class="fusion--scene--content">

          <div id="guid_a7e9735b_b7a3_42c6_b469_c570def47b9b" class="artboard scene">
            <div id="guid_abdd75d3_ab74_49bb_8afe_92f61fc64549" class="hero-element">
              <svg width="300" height="300"
                style="pointer-events: none; overflow: visible; position: absolute; left: 0px; top: 0px;">
                <path id="guid_abdd75d3_ab74_49bb_8afe_92f61fc64549-path" d="M 0 0 L 888 0 L 888 1152 L 0 1152 L 0 0 Z"
                  fill="#fff" stroke-width="1" style="pointer-events: all" />
              </svg>

            </div>
            <div id="guid_e182a310_69be_40c8_9574_83ab0a4fa970" class="hero-element">
            </div>
            <div id="guid_a18f826d_c823_4d80_9c3d_6e91889ea3f0" class="hero-element">
            </div>
            <div id="guid_29b8bf33_56d3_4467_a00a_c48859cee8fc" class="hero-element">
              <svg width="300" height="300"
                style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                <line id="guid_29b8bf33_56d3_4467_a00a_c48859cee8fc-line" x1="0" y1="0" x2="798" y2="0" stroke="#000"
                  stroke-width="1" style="pointer-events: all;" />
              </svg>

            </div>
            <div id="guid_bfbd8374_5acc_45ec_b984_0003d03ca119" class="hero-element">Cart
            </div>
            <img id="guid_4d98a9fe_56e6_4b6c_8f8d_e9a0410cdb9b" class="hero-element"
              src="guid_4d98a9fe_56e6_4b6c_8f8d_e9a0410cdb9b.png">

            <div id="guid_bef54ffd_ef33_421c_b867_0770e3ae56bd" class="hero-element">Shark Brixton
            </div>
            <div id="guid_2b77d1e2_878d_4ed3_abb4_4ae61fee9432" class="hero-element">Brixton Classic Curve
            </div>
            <div id="guid_dd2aa61e_6548_472a_920d_01b67ce40bdc" class="hero-element">
              <div id="guid_1104a1bf_a087_4126_9e95_b19ee61229e6" class="hero-element">042
              </div>
              <div id="guid_5821f0f2_0d36_4097_9c07_b4450269f2d6" class="hero-element">
                <svg width="300" height="300"
                  style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                  <line id="guid_5821f0f2_0d36_4097_9c07_b4450269f2d6-line" x1="0" y1="0" x2="118" y2="0"
                    stroke="#f34545" stroke-width="1" style="pointer-events: all;" />
                </svg>

              </div>
            </div>
            <div id="guid_03cbc156_41f4_4358_bd8d_c45152738680" class="hero-element">
              <div id="guid_dec5dc3e_fb28_4600_8d1f_9c7827d86a5f" class="hero-element">042
              </div>
              <div id="guid_74c8cfe6_8a63_478e_9200_cfc9ac778b5a" class="hero-element">
                <svg width="300" height="300"
                  style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                  <line id="guid_74c8cfe6_8a63_478e_9200_cfc9ac778b5a-line" x1="0" y1="0" x2="118" y2="0"
                    stroke="#f34545" stroke-width="1" style="pointer-events: all;" />
                </svg>

              </div>
            </div>
            <div id="guid_c09af4f1_bcfd_4fcb_8d8d_f1c2cee3af61" class="hero-element">Colour:
            </div>
            <div id="guid_127d64f9_6b4e_418b_a638_bddbe96c0779" class="hero-element">Colour:
            </div>
            <div id="guid_4613c2b4_4a1e_4aee_af9d_d7e35535e038" class="hero-element">Size:
            </div>
            <div id="guid_4f81a24b_a7ea_4234_81b4_c4dd88c2c843" class="hero-element">x
            </div>
            <div id="guid_9dd40af0_b664_4b75_b136_d618da25a3cd" class="hero-element">x
            </div>
            <div id="guid_1f89febf_3f7b_44f3_be5f_03aba0a0a405" class="hero-element">Size:
            </div>
            <div id="guid_310fa58e_c8fc_49c7_8de9_fcf001508949" class="hero-element">L
            </div>
            <div id="guid_507d6e9f_e8ae_4edf_9a24_e8a2440b4e06" class="hero-element">L
            </div>
            <div id="guid_59d47c29_57ca_4902_af71_c97473e161b2" class="hero-element">Gray
            </div>
            <div id="guid_2cdad893_5104_4239_816d_36608968353f" class="hero-element">Gray
            </div>
            <div id="guid_2296d2a5_5f0c_47f3_8e29_bbcce9314560" class="hero-element">$ 500 x 01
            </div>
            <div id="guid_37ae259f_8c4b_4567_9548_2e607806d614" class="hero-element">$ 500 x 01
            </div>
            <div id="guid_477252af_2e0e_4e4b_8246_3273962f47e4" class="hero-element">TRACK YOUR ORDER
            </div>
            <div id="guid_0dc63acc_8e2e_4efb_a850_775a20ab2f75" class="hero-element">$ 20
            </div>
            <div id="guid_8b75f8c8_9ca5_40ac_933d_c764d39d9b6d" class="hero-element">TOTAL:
            </div>
            <div id="guid_473d203a_2a42_411e_bbf1_509d9da07c74" class="hero-element">$ 1,020
            </div>
            <div id="guid_44a04c35_0062_476b_8b3e_22ac36f67a94" class="hero-element">$ 0
            </div>
            <div id="guid_a5bf062b_106a_4943_ae11_65c222277afe" class="hero-element">Discount:
            </div>
            <div id="guid_27fb4cc6_154b_4307_bdb2_61c115c3ec3d" class="hero-element">
              <svg width="300" height="300"
                style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                <line id="guid_27fb4cc6_154b_4307_bdb2_61c115c3ec3d-line" x1="0" y1="0" x2="686" y2="0" stroke="#707070"
                  stroke-width="1" style="pointer-events: all;" />
              </svg>

            </div>
            <div id="guid_03c0ba82_0c04_4e39_ad4b_694ab7b6cb7d" class="hero-element">
              <svg width="300" height="300"
                style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                <line id="guid_03c0ba82_0c04_4e39_ad4b_694ab7b6cb7d-line" x1="0" y1="0" x2="686" y2="0" stroke="#707070"
                  stroke-width="1" style="pointer-events: all;" />
              </svg>

            </div>
            <div id="guid_78be6190_cdd8_44b6_8974_11ab5ea5ea0b" class="hero-element">
              <svg width="300" height="300"
                style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                <line id="guid_78be6190_cdd8_44b6_8974_11ab5ea5ea0b-line" x1="0" y1="0" x2="686" y2="0" stroke="#707070"
                  stroke-width="1" style="pointer-events: all;" />
              </svg>

            </div>
            <img id="guid_0fbfa464_2a07_4d86_bc24_9a06054ae93f" class="hero-element"
              src="guid_0fbfa464_2a07_4d86_bc24_9a06054ae93f.png">

            <div id="guid_b20501a7_0718_437a_a041_a8bdb09e05fd" class="hero-element">
            </div>
            <div id="guid_c80e3b41_1da9_47d8_ac9b_f66ff27449ca" class="hero-element">Continue
            </div>
            <img id="guid_d777d890_54b4_4af4_939d_c1fee156611d" class="hero-element"
              src="guid_d777d890_54b4_4af4_939d_c1fee156611d.jpg">

          </div>
        </div>
      </div>




    </div>
  </div>
</div>

</body>