<div style="width: 100%;padding-top:120px;padding-bottom: 70px;">
    <div style="box-shadow: -1px 3px 15px 0px rgba(0, 0, 0, 0.514);width: 100%;height: 2px;"></div>
    <h1 style="color:black;text-align:left;font-size:2em;margin-left:6vw;padding-top: 50px;font-family: Muli;">Cart >
        <span style="font-weight:bolder;font-family: Oswald;">Checkout</span> > Placed Order
    </h1>
    <div style="text-align: center;margin-top:50px;">
        <div style="display: inline-block; width:1366px;max-width:90%;text-align: center;">
            <div style="display: inline-block;width:683px;max-width: 100%;">
                <h1 style="font-family:Oswald; font-size:60px;text-align: left;color:black;">Add Your Details</h1>

                <div class="row input-container">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="text" required />
                            <label>First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="text" required />
                            <label>Last Name</label>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>Address</label>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>Appartment</label>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>City</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <select class="selecter" name="cars" id="cars" form="carform">
                            <option value="">Select Country</option>
                            <option value="UK">United Kingdom</option>
                            <option value="SW">Sweden</option>
                            <option value="PK">Pakistan</option>
                        </select>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="text" required />
                            <label>Postal Code</label>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>Phone</label>
                        </div>
                    </div>
                </div>

                <h1 style="color:black;font-family:Oswald; font-size:60px;text-align: left;">Payment</h1>
                <p style="text-align: left;font-size: 20px;font-family: Muli;">All transactions are secure and
                    encrypted.
                </p>
                <div style="text-align: left;">
                    <img src="../../assets/images/visa.png" height="30px;" />
                    <img src="../../assets/images/kirana.png" style="padding-left: 5px;" height="30px;" />
                </div>

                <div class="row input-container">
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="text" required />
                            <label>Card Number</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="text" required />
                            <label>Name on Card</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="text" required />
                            <label>Expiration (MM/YY)</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="text" required />
                            <label>Security Code</label>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:683px;max-width: 100%;;height: 600px;float: right;">
                <h1 style="color:black;font-family:Oswald; font-size:60px;text-align: left;">Order Summary</h1>
                <app-cart></app-cart>
                
                <div class="col-xs-12" style = "padding:30px;">
                    <div class="btn-lrg submit-btn" style = "font-family: Oswald;font-size: 30px;">Checkout</div>
                </div>
            </div>

        </div>
    </div>
</div>