.icon {
  display: flex;
  justify-content: right;
  align-items: flex-end;

  i {
    color: red;
    font-size: 28px;
  }
}

.iconright {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  p {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 2px;
    font-family: "Be Vietnam Pro", sans-serif;
  }

  i {
    color: rgb(223, 12, 58);
    font-size: 28px;
  }
}
.paybtn {
  width: 100%;
}
.nextbtn {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  width: 70%;
}
h1 {
  font-family: "Be Vietnam Pro", sans-serif;
}
.p {
  font-family: "Be Vietnam Pro", sans-serif;
}
.card {
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.151);
  position: relative;
  top: 1em;
}

form {
  width: 480px;
  margin: 20px auto;
}

.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #f0f5fa;
}

label > span {
  width: 20%;
  text-align: right;
  float: left;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #d5ec04af;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  width: 70%;
  height: 40px;
  float: right;
}

.field::-webkit-input-placeholder {
  color: #cfd7e0;
}
.field::-moz-placeholder {
  color: #cfd7e0;
}
.field:-ms-input-placeholder {
  color: #cfd7e0;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success,
.error {
  display: none;
  font-size: 13px;
}

.success.visible,
.error.visible {
  display: inline;
}

.error {
  color: #e4584c;
}

.success {
  color: #d5ec04af;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

.StripeElement--invalid {
  border: 1px solid red;
}

.stripe {
  display: block;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.5rem 0.375rem;
}
text-center {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap");

@media screen and (max-width: 700px) {
  form {
    text-align: left;
    width: 270px;
  }
  text-center {
    text-align: left;
  }
  h1 {
    font-size: 14px;
    font-weight: bold;
  }
  p {
    font-size: 9px;
  }
  .paybtn {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 90%;
  }
  .card {
    box-shadow: none;
    position: relative;
    top: -1em;
    border: none;
  }

  mat-form-field {
    width: 60%;

    font-family: "Be Vietnam Pro", sans-serif;
  }
}

mat-form-field {
  width: 90%;

  font-family: "Be Vietnam Pro", sans-serif;
}


