<div
    style="position:relative;height: 600px; width: 100%;background: url('../../assets/images/about-header.png');background-size: cover;">
    <div class="redBar">
        <div class="cards">
            <div class="card">2,500+ <br /> <span style="margin-top: 30px; font-size: 20px;">Customers</span></div>
            <div class="card">5,000+
                <br />
                <span style="margin-top: 30px; font-size: 20px;">Products</span>
            </div>
            <div class="card">12
                <br />
                <span style="margin-top: 30px; font-size: 20px;">years</span>
            </div>
        </div>
    </div>
</div>

<div class="feat bg-gray pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="section-head col-sm-12">
                <h4><span>{{ 'AboutPage.h1' | translate:params }}</span></h4>
                <p>{{ 'AboutPage.h2' | translate:params }}</p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
                    <h6>{{ 'AboutPage.h2.1' | translate:params }}</h6>
                    <p>{{ 'AboutPage.p2.1' | translate:params }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
                    <h6>{{ 'AboutPage.h2.2' | translate:params }}</h6>
                    <p>{{ 'AboutPage.p2.2' | translate:params }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
                    <h6>{{ 'AboutPage.h2.3' | translate:params }}</h6>
                    <p>{{ 'AboutPage.p2.3' | translate:params }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
                    <h6>{{ 'AboutPage.h2.4' | translate:params }}</h6>
                    <p>{{ 'AboutPage.p2.4' | translate:params }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
                    <h6>{{ 'AboutPage.h2.5' | translate:params }}</h6>
                    <p>{{ 'AboutPage.p2.5' | translate:params }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
                    <h6>{{ 'AboutPage.h2.6' | translate:params }}</h6>
                    <p>{{ 'AboutPage.p2.6' | translate:params }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-head col-sm-12">
    <h4><span>{{ 'AboutPage.otp' | translate:params }}</span> </h4>

    <div class="carousel">

        <div><img src="https://www.exportportal.site/vendors/DRYD.png"></div>
        <div><img src="https://www.exportportal.site/vendors/IRK.png"></div>
        <div><img src="https://www.exportportal.site/vendors/80 (2).png"></div>
        <div><img src="https://www.exportportal.site/vendors/GH G.png"></div>
        <div><img src="https://www.exportportal.site/vendors/554 (1).png"></div>
        <div><img src="https://www.exportportal.site/vendors/45665 (3).png"></div>
        <div><img src="https://www.exportportal.site/vendors/5555 (3).png"></div>
    </div>


</div>


<app-footer></app-footer>