<div
    style="position:relative;height: 600px; width: 100%;background: url('../../assets/images/about-header.jpg');background-size: cover;">
    <div class="redBar">
        <div class="cards">
            <div class="card">2,500+ <br /> <span style="margin-top: 30px; font-size: 20px;">Customers</span></div>
            <div class="card">5,000+
                <br />
                <span style="margin-top: 30px; font-size: 20px;">Products</span>
            </div>
            <div class="card">12
                <br />
                <span style="margin-top: 30px; font-size: 20px;">years</span>
            </div>
        </div>
    </div>
</div>

<div id="experts" style="position:relative;height: 500px; width: 100%;background:white;">
    <div
        style="box-shadow: 0px 3px 0px 1px rgba(173, 173, 173, 0.212);background:rgba(177, 177, 177, 0.158);margin-left:10%;margin-top:100px; width:80%; height: 400px;">

        <img class="guyIMG" src="../../assets/images/about-guy.jpg" />
        <div style="float: right; width:500px;max-width: 100%;text-align: center;">

            <div id="guid_99befb4a_ed0e_43a2_b864_755283a1dde8">Made By Experts
            </div>

            <div id="guid_0b1905a6_9d82_4dca_a9f7_1e465d211ece">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </div>
        </div>
    </div>
</div>

<div
    style="min-height: 900px; width: 100%;background: url('../../assets/images/about-bike.jpg');background-size: cover;background-position: center;">

    <div id="guid_317f1009_1100_4f5a_9edd_a120dc479993" class="hero-element">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
        ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    </div>
</div>


<div id="fashion" style="background:white;">
    <div
        style="box-shadow: 0px 3px 0px 1px rgba(173, 173, 173, 0.212);background:rgba(177, 177, 177, 0.158);margin-left:10%;margin-top:100px; width:80%; height: 400px;">

        <img class="guyIMG2" src="../../assets/images/about-jack.jpg" />
        <div style="float: left; width:500px;max-width: 100%;text-align: center;">

            <div id="guid_99befb4a_ed0e_43a2_b864_755283a1dde82">We Create Fashion
            </div>

            <div id="guid_0b1905a6_9d82_4dca_a9f7_1e465d211ece2">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </div>
        </div>
    </div>
</div>

<div style="background-color: #f34545;margin-top: 130px;display: block;">
    <div class="card" style="padding-top:40px;padding-bottom: 20px;width: 100%;">Customer Reviews</div>
    <div class="cards">
        <div class="card custName">Jon Stone <br /> <span
                style="margin-top: 30px; font-size: 20px;font-weight: 100;">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></div>
        <div class="card custName">Jon Stone <br /> <span
                style="margin-top: 30px; font-size: 20px;font-weight: 100;">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></div>
        <div class="card custName">Jon Stone <br /> <span
                style="margin-top: 30px; font-size: 20px;font-weight: 100;">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></div>
    </div>
</div>

<app-footer></app-footer>