<div class="icon">
    <i (click)="close()" class="fas fa-times-circle"></i>
</div>
<div class="text-center">
    <img class="logo" src="../../assets/logos/logored.png" alt="">

    <div class="d-flex justify-content-center align-items-center flex-column pt-4">
        <h1 class="text-dark oswald headingmain pt-4">{{ 'login.h1' | translate:params }}</h1>
        <h3 *ngIf="data.open=='signup'" class="text-dark oswald subheading pt-2">{{ 'login.h6' | translate:params }}
        </h3>
        <h3 *ngIf="data.open=='login'" class="text-dark oswald subheading pt-2">{{ 'login.h2' | translate:params }}</h3>



        <div class="col-12 col-sm-12 col-lg-8 col-md-8 col-xl-8">

            <div *ngIf="data.open=='signup'" class="input-group pt-4">
                <input type="text" [(ngModel)]="name" class="form-control input" placeholder="Enter Your name">

            </div>

            <div class="input-group pt-4">

                <input [(ngModel)]="email" type="text" class="form-control input" placeholder="Enter Your Email">

            </div>

            <div class="input-group pt-4">
                <input [(ngModel)]="password" type="password" class="form-control input"
                    placeholder="Enter Your Password">

            </div>


            <div *ngIf="data.open=='login'" class="btnn pt-4">
                <button (click)="login()" class="block" mat-flat-button color="danger">{{ 'login.li' | translate:params
                    }}</button>
            </div>

            <div *ngIf="data.open=='signup'" class="btnn pt-4">
                <button (click)="signUp()" class="block" mat-flat-button color="danger">{{ 'login.su' | translate:params
                    }}</button>
            </div>


            <div class="pt-3 row">
                <div class="col-6">

                    <button class="fb" mat-flat-button color="none">
                        <i class="fab fa-facebook-f facebook-bg fbicon"></i>
                        Facebook
                    </button>
                </div>


                <div class="col-6">
                    <button class="google" mat-flat-button color="none">
                        <i class="fab fa-google-plus-g google-bg gicon"></i>
                        Google
                    </button>
                </div>


            </div>

            <div *ngIf="data.open=='login'" class="pt-4">
                <p (click)="this.open('signup')" class="text-dark roboto" class="font-16">{{ 'login.h3' |
                    translate:params }}?<span class=" text-danger" style="padding-left: 4px;letter-spacing: 1px;"><u>
                            <b>
                                {{ 'login.su' | translate:params }}
                            </b>
                        </u></span></p>
            </div>


            <div *ngIf="data.open=='signup'" class="pt-4">
                <p (click)="this.open('login')" class="text-dark roboto" class="font-16"> {{ 'login.h5' |
                    translate:params }}?<span class=" text-danger" style="padding-left: 4px;letter-spacing: 1px;"><u>
                            <b>
                                {{ 'login.li' | translate:params }}
                            </b>
                        </u></span></p>
            </div>

            <div *ngIf="data.open=='login'" class="pt-1">
                <p class="text-dark roboto" class="font-16">{{ 'login.h4' | translate:params }}<span
                        class=" text-danger" style="padding-left: 4px;letter-spacing: 1px;"><u>
                            <b (click)="open('rp')">
                                RESET
                            </b>
                        </u></span></p>
            </div>

        </div>

    </div>
</div>