.icon {
    display: flex;
    float: right;
    justify-content: right;
    align-items: flex-end;

    i {
        color: red;
        font-size: 28px;
    }
}

.logo {
    height: 4em;
}

.oswald {
    font-family: Oswald;
}

.headingmain {
    font-size: 32px;
}
.subheading {
    font-size: 22px;
    font-family: "Noto Sans JP", sans-serif;
}
.noto {
    font-family: "Noto Sans JP", sans-serif;
}
.input-group {
    position: relative;
}

.input {
    position: relative;
    border-radius: 12px;
}
.form-control {
    position: relative;
    height: 3em;
}
.fp {
    background: none;
    font-size: 15px;
    color: black;
    font-family: oswald;
}
.block {
    width: 100%;
    height: 3em;
    background: red;
    font-size: 16px;
    border-radius: 12px;
    font-family: "Noto Sans JP", sans-serif;
}
.fb {
    width: 100%;
    height: 3em;
    background: blue;
    font-size: 16px;
    border-radius: 12px;
    font-family: "Barlow", sans-serif;
}

.google {
    width: 100%;
    height: 3em;
    background: #fd1810bd;
    font-size: 16px;
    border-radius: 12px;
    font-family: "Barlow", sans-serif;
}
.fbicon {
    position: relative;
    margin-right: 2px;
    font-size: 20px;
}
.gicon{
    position: relative;
    margin-right: 2px;
    font-size: 25px;

}
.roboto{
    font-family: 'Roboto', sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');