.btnboot {
    padding-top: 14px;
}

.loginbtn {
    width: 6em;
    border-radius: 6px;
    background-color: #ff0000 !important;
    // border: #ff0000;
}
.signupbtn {
    background-color: white !important;

    color: black;
    border-radius: 6px;
}

.btn:focus,
.btn:active {
    box-shadow: none;
}

.btn.btn-primary:active,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: crimson !important;
    outline: crimson !important;
}

.btn.btn-secondary:active,
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
    background-color: crimson !important;
    outline: crimson !important;
    color: white !important;
}

@import url(https://fonts.googleapis.com/css?family=Megrim);

html,
body {
    background: black;
    font-family: Megrim, cursive;
}

mat-icon:hover {
    cursor: pointer;
}

.nav {
    position: fixed;
    z-index: 200;
    width: 100%;
  }
  