<div style="width: 100%;background-color: rgba(0, 0, 0, 0.658);text-align: right;padding: 5px;">


    <mat-icon style="color: white;">
        shopping_cart
    </mat-icon>



    <mat-icon style="color: red;margin-left: 10px;">
        favorite_border
    </mat-icon>

    <mat-icon style="color: white;margin-left: 10px;">
        language
    </mat-icon>


    <mat-icon style="color: white;margin-left: -5px;">
        arrow_drop_down

    </mat-icon>
</div>



<header class="header">
    <a class="logo" href="/index">
        <img style="height: 2em;object-fit: contain;" src="../../assets/logos/logored.png" alt=""></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>


    <ul style="margin-right: 2em;" class="menu">
        <li><a href="#one" class="link link-theme link-arrow">HOME</a></li>
        <li><a href="#four" class="link link-theme link-arrow">PRODUCTS</a></li>
        <li><a href="#two" class="link link-theme link-arrow">ABOUT</a></li>
        <li><a href="#three" class="link link-theme link-arrow">CONTACT</a></li>

        <li>

            <a class="btnboot">
                <button type="button" class="btn btn-primary btn-sm loginbtn">LOGIN</button>

            </a>
        </li>

        <li>

            <a class="btnboot">
                <button type="button" class="btn btn-secondary btn-sm signupbtn">SIGNUP</button>

            </a>
        </li>


    </ul>
</header>