<section style="padding: 0;margin: 0;" class="cart_wrapper">


    <div class="cart_lists">
        <div class="cart_title">
            <span style="color: red;" class="material-icons-outlined">
                favorite_border
            </span>
            Your Favourites
        </div>

        <div class="cart_list_wrap">
            <div *ngIf="items" class="cart_responsive">
                <div *ngFor="let item of items let i=index" class="tr_item">
                    <!--PLACE NGFOR HERE-->
                    <div class="td_item item_img">
                        <img src="{{item.bannerImageURL}}" />
                    </div>
                    <div class="td_item item_name">
                        <label class="main">{{item.name | uppercase}}</label>
                        <label class="sub">{{item.category}}</label>
                    </div>
                    <div class="td_item item_color">
                        {{item._id | slice:0:6}}
                    </div>

                    <div class="td_item item_qty">
                        <button (click)="viewProd(item)" color="light" mat-mini-fab>
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </div>

                    <div class="td_item item_price">
                        <label>{{item.price}}</label>
                    </div>



                    <div class="td_item item_remove">
                        <span (click)="delete(i)" class="material-icons-outlined">close</span>
                    </div>
                </div>


            </div>
            <div class="footer">
                <div class="back_cart">
                    <a (click)="close()">
                        <span class="material-icons-outlined">west</span>
                        Back to Shop
                    </a>
                </div>

            </div>

        </div>


    </div>
</section>