.bannerimg {
    background-image: url("https://exportportal-15e5e.web.app/assets/images/News.png");
    /* Required Height */
    height: 750px;
    width: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.headinsub {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    line-height: 50px;
}

.cardparent {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.103), 0 3px 6px rgba(0, 0, 0, 0.26);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    z-index: 10;
    background-image: url("https://projektrgb.com/assets/images/body-bg.jpg");
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.103), 0 3px 6px rgba(0, 0, 0, 0.26);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: white;
    padding: 35px;
    display: flex;
    align-items: center;
}
.touch {
    font-family: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.685);
    font-weight: bolder;
    font-size: 38px;
}
mat-form-field {
    width: 330px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    color: white;
    font-family: "Urbanist", sans-serif;
    font-size: 22px;
    padding: 10px;
}
ul {
    list-style: none;
}
.icon {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
.font{
    padding-top: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
