<section style="padding: 0;margin: 0;" class="cart_wrapper">


    <div class="cart_lists">
        <div class="cart_title">
            <span class="material-icons-outlined">local_mall</span>
            Your Shopping Cart
        </div>

        <div class="cart_list_wrap">
            <div *ngIf="items" class="cart_responsive">
                <div *ngFor="let item of items let i=index" class="tr_item">
                    <!--PLACE NGFOR HERE-->
                    <div class="td_item item_img">
                        <img src="{{item.image}}" />
                    </div>
                    <div class="td_item item_name">
                        <label class="main">{{item.name | uppercase}}</label>
                        <label class="sub">Ref. {{item.ID | slice:0:6}}</label>
                    </div>
                    <div class="td_item item_color">
                        <label>{{item.color}}</label>
                    </div>
                    <div class="td_item item_qty">
                    </div>
                    <div class="td_item item_price">
                        <label>{{item.price}}</label>
                    </div>
                    <div class="td_item item_remove">
                        <span (click)="delete(i)" class="material-icons-outlined">close</span>
                    </div>
                </div>

            </div>
            <div class="footer">
                <div class="back_cart">
                    <a (click)="close()">
                        <span class="material-icons-outlined">west</span>
                        Back to Shop
                    </a>
                </div>
                <div class="subtotal">
                    <label>Subtotal: </label>
                    <strong *ngIf="total">{{total}}</strong>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-center text-center align-center">

            <button type="button" class="btn btn-danger btn-fab">Checkout
            </button>

        </div>
    </div>
</section>