<style>
  .hero-element {
    position: absolute;
  }

  .fusion--player {
    background-color: #fff;
  }


  #guid_18d5a0f6_c60d_43e5_b7bf_9af329a61d24 {
    position: absolute;
    width: 1675px;
    height: 1784px;
    background-color: #fff;
  }

  #guid_7e8087f3_6931_4cb0_95cf_973fec39e2e8 {
    width: 322px;
    font-family: Oswald;
    font-size: 43px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.4463974311983835e-16, 0, 1, 248, 76.051025390625);
  }

  #guid_db96863d_a7ee_4604_bfdd_fc20eea7bde0 {
    width: 66px;
    font-family: Oswald;
    font-size: 43px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.4463974311983835e-16, 0, 1, 92, 76.44998168945312);
  }

  #guid_7f0d78dd_5a76_4ee9_8546_68189e96213a {
    width: 558px;
    font-family: Oswald;
    font-size: 82px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.4463974311983835e-16, 0, 1, 92, 251);
  }

  #guid_94f0e4e5_bd60_4fdd_a375_a73b07a8116a {
    width: 529px;
    font-family: Oswald;
    font-size: 82px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.4463974311983835e-16, 0, 1, 972, 251);
  }

  #guid_5f6c327f_6e40_4d9b_ab57_68f9f8f39009 {
    width: 25px;
    height: 32px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 189, 94);
  }

  #guid_fb3f5ea1_918c_4a34_a41f_345f07d84bf5 {
    width: 12.475px;
    height: 15.376px;
    transform-origin: 50% 50%;
    transform: matrix(0, 1, -1, 0, 389.1870741844177, 840.2846398353577);
    opacity: 0.4000000059604645;
  }

  #guid_8dac813a_3604_4661_aefc_70f914398ac0 {
    width: 364px;
    font-family: Muli;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 141.5402069091797, 460.42242431640625);
  }

  #guid_106ce70b_951a_4fda_b58a_bb741a2efc4b {
    width: 36px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 113.91814422607422, 414.84613037109375);
  }

  #guid_530dc6de_38ff_4ec3_9d0f_c355292a7546 {
    width: 67px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 113.91814422607422, 523.2179565429688);
  }

  #guid_ac650597_c6a0_4637_bf9d_2d3abb5d8690 {
    width: 82px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 113.91814422607422, 1418.116455078125);
  }

  #guid_926e0250_d760_47ae_bcc0_2f87988f9cbf {
    width: 148px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 113.91814422607422, 1494.9976806640625);
  }

  #guid_93eced3a_504a_4d71_b40b_5f4a3402b8b6 {
    width: 67px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 533.3326416015625, 523.2179565429688);
  }

  #guid_09c1dbc4_b540_4543_b7b9_87df89115072 {
    width: 89px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 533.3326416015625, 1418.116455078125);
  }

  #guid_a2126ada_f3b5_4c18_889d_ecbf8b2b8480 {
    width: 85px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 533.3326416015625, 1494.9976806640625);
  }

  #guid_bc434e71_0295_4a2b_bcc1_a615ee4a285e {
    width: 132px;
    font-family: Muli;
    font-size: 11px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 684.4987182617188, 1540.1014404296875);
  }

  #guid_5efdd963_ceac_4c79_80d3_1c9cb543553d {
    width: 71px;
    font-family: Oswald;
    font-size: 19px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 115.32818603515625, 838.96337890625);
  }

  #guid_e1afa008_a760_4aee_b3ca_3e77071c6867 {
    width: 21.722px;
    height: 21.722px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 108.63846588134766, 462.8333435058594);
    background-color: #000;
  }

  #guid_01a0c559_e4a9_4bb7_b697_e9854728f578 {
    width: 21.722px;
    height: 21.722px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 108.63846588134766, 1339.2802734375);
    background-color: #000;
  }

  #guid_88f7356e_a91c_403f_acfd_af83591996c8 {
    width: 21.722px;
    height: 21.722px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 108.63846588134766, 1593.501220703125);
    background-color: #000;
  }

  #guid_73937b4c_f2d7_45cd_a08a_ccded63793f0 {
    width: 339px;
    font-family: Muli;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 141.5402069091797, 967.98876953125);
  }

  #guid_00f8690d_a634_4a0a_b081_a8bed2200c8e {
    width: 21.722px;
    height: 21.722px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 108.63846588134766, 970.3935546875);
    border: 2px solid #000;
  }

  #guid_65e78c7a_58e4_4b31_b1b5_c921708ca0b9 {
    width: 737.722px;
    height: 41.188px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 404.4138488769531);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_373a1bba_60c3_445b_9ed1_95b23720b5b1 {
    width: 327.299px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 503.0473937988281);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_6f77fe20_79ca_4cad_96fb_0cf7ecf1e59a {
    width: 327.299px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 1397.94580078125);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_beabec04_4b34_436d_a73a_01c1f21cb959 {
    width: 327.299px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 1474.8271484375);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_c6acc6cf_c3ba_4b6c_b6f5_7613c5051138 {
    width: 52px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 113.91814422607422, 600.36083984375);
  }

  #guid_eb0a3754_06cc_4e54_bbe5_5c1fc137c786 {
    width: 737.722px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 580.1849975585938);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_47880785_e638_4c2e_962b_784b63ee9ddf {
    width: 189px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 113.91814422607422, 676.7540893554688);
  }

  #guid_02118d8e_9bad_4620_a7bb_658babdc7d3c {
    width: 737.722px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 656.5845336914062);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_b41b7959_9a13_4bc3_8279_f7ab4aff2eaf {
    width: 28px;
    font-family: Muli;
    font-size: 14px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 113.91814422607422, 758.390869140625);
  }

  #guid_fc3f4c65_dba6_4cd7_90d0_8e01282b936c {
    width: 737.722px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 738.2222290039062);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_5c615cf2_5db8_4441_88b2_a6bc90b1feb2 {
    width: 41px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 113.91814422607422, 914.173828125);
  }

  #guid_452fed9d_b8af_406c_9722_d8271753044f {
    width: 737.722px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 894.0042724609375);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_074145e1_83e6_4a10_86fa_93d974f491c1 {
    width: 89px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 114.66608428955078, 824.2986450195312);
  }

  #guid_40ce77d9_887b_4c74_b619_e41d63285403 {
    width: 74px;
    font-family: Muli;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.5797079762997976e-16, 0, 1, 533.3326416015625, 837.7794189453125);
  }

  #guid_4b7d0e58_4c24_45e3_8d44_d85e452c292f {
    width: 327.299px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 98.15022277832031, 817.6046752929688);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_408d6deb_5d83_473f_a68c_977e1f8aabb4 {
    width: 327.299px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 508.57476806640625, 503.0473937988281);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_f1882e50_facd_437d_80cf_466397a7e0e3 {
    width: 327.299px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 508.57476806640625, 1397.94580078125);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_f125f3d0_7104_46f7_9f08_ed08459b3ee9 {
    width: 327.299px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 508.57476806640625, 1474.8271484375);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_446f8361_dc90_4a2f_a6a7_3022424ecfdc {
    width: 327.299px;
    height: 59.916px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 508.57476806640625, 817.6046752929688);
    opacity: 0.4000000059604645;
    border: 2px solid #828282;
    border-radius: 10px 10px 10px 10px;
  }

  #guid_28f3d990_9e93_4e43_929b_a635e362f58e {
    width: 0.748px;
    height: 31.46px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 364.7752380371094, 831.8431396484375);
    background-color: #828282;
  }

  #guid_8e92218d_ca80_4dde_b948_4b4b09310c34 {
    width: 28px;
    height: 23px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 103, 462);
  }

  #guid_52991b54_9057_41b8_a815_c874295f4f9d {
    width: 28px;
    height: 23px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 103, 1339);
  }

  #guid_e466b60a_1acc_40c3_959e_46f33329e03f {
    width: 28px;
    height: 23px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 103, 1592);
  }

  #guid_78eeaddc_a3cd_4e8e_b35c_40b4298bcc16 {
    width: 154.788px;
    height: 46.129px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 169.32167053222656, 1327.112548828125);
  }

  #guid_938853f3_1f48_4d70_a76c_70f20f82d22f {
    width: 73.806px;
    height: 49.204px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 335.3851013183594, 1326.0875244140625);
  }

  #guid_5e0c149a_c3da_4d03_8e69_18aa3585483f {
    width: 299px;
    font-family: Oswald;
    font-size: 83px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 1.4463974311983835e-16, 0, 1, 92, 1090.180908203125);
  }

  #guid_2dae589f_7731_4482_b2e3_bd69cb4662b1 {
    width: 385px;
    font-family: Muli;
    font-size: 20px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, -5.17940689032185e-16, 0, 1, 92, 1241.52734375);
  }

  #guid_50fcbcf1_4d0e_4162_9a11_1739dbd11771 {
    width: 242px;
    font-family: Muli;
    font-size: 21px;
    color: #3f3f3f;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 161.28321838378906, 1590.435302734375);
  }

  #guid_4886b1fa_d9e7_430a_a86e_088e7d012cec {
    width: 657px;
    height: 180px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 898, 452);
    background-color: #f7f8fc;
    border-radius: 20px 20px 20px 20px;
  }

  #guid_64f35376_575d_48e1_bd20_334e417b5833 {
    width: 657px;
    height: 180px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 898, 658);
    background-color: #f7f8fc;
    border-radius: 20px 20px 20px 20px;
  }

  #guid_1c262aac_10ba_46a0_b59b_adbb845af2cc {
    width: 655.924px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 898.3931274414062, 647.22509765625);
    opacity: 0.800000011920929;
    pointer-events: none;
  }

  #guid_ee9b469b_9bb4_4e20_adc3_85169a035c49 {
    width: 655.924px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 898.3931274414062, 848.0183715820312);
    opacity: 0.800000011920929;
    pointer-events: none;
  }

  #guid_1cd0f974_6dfb_4b7e_a435_711e5b9e06ad {
    width: 655.924px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 911.7186279296875, 1035.42529296875);
    opacity: 0.800000011920929;
    pointer-events: none;
  }

  #guid_d86cd2bb_aaa5_461f_8e43_861017da2425 {
    width: 134px;
    height: 161px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 957, 460);
  }

  #guid_c8c9da72_2b0f_4c2c_aa63_a0f8f7524e43 {
    width: 157px;
    font-family: Muli;
    font-size: 23px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1194, 485);
  }

  #guid_40dc60f5_13c3_449c_96a5_72022b10420d {
    width: 382px;
    font-family: Muli;
    font-size: 29px;
    color: #f34545;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 904, 400);
  }

  #guid_67405726_2a98_47f6_b828_e8ba13a7c7b0 {
    width: 242px;
    font-family: Muli;
    font-size: 23px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1194, 686);
  }

  #guid_65223c76_7bad_49cd_be11_a956088576a1 {
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1195.27880859375, 460.2961120605469);
  }

  #guid_2edd93b0_6586_4944_8e1a_c0d39dec384b {
    width: 12px;
    font-family: Muli;
    font-size: 5px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 127.64593505859375, 1);
  }

  #guid_e4218244_1156_46f2_8e9a_95cfa4c88197 {
    width: 112.827px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, -0.001072856248356402, 7.829011917114258);
    pointer-events: none;
  }

  #guid_4a5024a5_f5ec_4834_ac6e_e904bbb16ac3 {
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1195.27880859375, 661.08935546875);
  }

  #guid_2292b48e_6ad9_4375_8b5d_b0b89dc6a799 {
    width: 12px;
    font-family: Muli;
    font-size: 5px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 127.64593505859375, 1);
  }

  #guid_00af36d7_3c58_4d0a_8adf_24a653ebfaf6 {
    width: 112.827px;
    height: 0px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, -0.001072856248356402, 7.829011917114258);
    pointer-events: none;
  }

  #guid_27ca00c0_509b_4d70_929c_f51c1f11080f {
    width: 45px;
    font-family: Oswald;
    font-size: 15px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1194, 529);
  }

  #guid_306ab739_04ce_4675_9e82_5d1d6a4386c8 {
    width: 45px;
    font-family: Oswald;
    font-size: 15px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1194, 730);
  }

  #guid_817d8ed9_7848_4903_a806_f1202c345a55 {
    width: 94px;
    font-family: Oswald;
    font-size: 16px;
    color: #707070;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1195.27880859375, 564.2788696289062);
  }

  #guid_f39c2dff_a47d_47e9_9557_02cfa02beb6c {
    width: 94px;
    font-family: Oswald;
    font-size: 16px;
    color: #707070;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1195.27880859375, 765.0720825195312);
  }

  #guid_61607b93_e08a_4b02_9220_9208d1668b84 {
    width: 78px;
    font-family: Muli;
    font-size: 19px;
    color: #000;
    font-weight: 400;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 957.1954345703125, 905.5835571289062);
  }

  #guid_6a8059b6_b6a6_4875_bec0_3580e05beb7a {
    width: 42px;
    font-family: Muli;
    font-size: 19px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1195.27880859375, 905.5835571289062);
  }

  #guid_b29bc9a6_8afc_46fb_a606_30ec366d935e {
    width: 123px;
    font-family: Muli;
    font-size: 35px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 957, 1096);
  }

  #guid_688ec22f_179c_46ef_ade4_71c44a9a944b {
    width: 126px;
    font-family: Muli;
    font-size: 35px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1194, 1096);
  }

  #guid_80cc876c_8ebd_4474_b22a_eb0f9d40696f {
    width: 32px;
    font-family: Muli;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1195.27880859375, 952.4790649414062);
  }

  #guid_f0d9cfea_72ba_4e33_b17e_9a332edb21a6 {
    width: 87px;
    font-family: Muli;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 957.1954345703125, 952.4790649414062);
  }

  #guid_2dfc28fc_7b5b_4c03_960d_e32fbf478a0f {
    width: 134px;
    height: 161px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 957, 661);
  }

  #guid_635edb2d_18b4_45fc_b580_ab40f6190e46 {
    width: 366px;
    height: 83px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1194, 1593);
    background-color: #f00;
    border-radius: 20px 20px 20px 20px;
  }

  #guid_2d3380fd_32b8_4410_984b_e9063c7af312 {
    width: 28px;
    font-family: Oswald;
    font-size: 14px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1316, 529);
  }

  #guid_066aeba1_84e4_4226_9273_b57654c1a2fe {
    width: 28px;
    font-family: Oswald;
    font-size: 14px;
    color: #707070;
    font-weight: 500;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1316, 730);
  }

  #guid_1d85bd33_b404_4588_bf33_91f2b3b7084c {
    width: 11px;
    font-family: Muli;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1351, 532);
  }

  #guid_da6909f5_f0bd_48f5_a7db_8c0369a78f15 {
    width: 11px;
    font-family: Muli;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1351, 732);
  }

  #guid_73bae7a4_952a_42e2_b05d_df6d24e73f19 {
    width: 37px;
    font-family: Muli;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1245, 533);
  }

  #guid_023c47e1_4efd_4207_a414_f94fb8e1fb64 {
    width: 37px;
    font-family: Muli;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1245, 733);
  }

  #guid_b53cc0b6_2b7d_4961_a618_168f4db5488c {
    width: 97px;
    font-family: Muli;
    font-size: 21px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1327, 1623);
  }
</style>



<!-- /////////////////////// -->
<!-- Player -->
<div class="wrapper" style="position: relative; width: 100%; height: 100%;">
  <div id="player" class="fusion--player" style="width: 100%; height: 100%; ">
    <div class="fusion--viewport">




      <div class="fusion--scene fusion--scene--default scene-guid_18d5a0f6_c60d_43e5_b7bf_9af329a61d24">
        <div class="fusion--scene--content">

          <div id="guid_18d5a0f6_c60d_43e5_b7bf_9af329a61d24" class="artboard scene">
            <div id="guid_7e8087f3_6931_4cb0_95cf_973fec39e2e8" class="hero-element">Details & Checkout
            </div>
            <div id="guid_db96863d_a7ee_4604_bfdd_fc20eea7bde0" class="hero-element">Cart
            </div>
            <div id="guid_7f0d78dd_5a76_4ee9_8546_68189e96213a" class="hero-element">Add Your Details
            </div>
            <div id="guid_94f0e4e5_bd60_4fdd_a375_a73b07a8116a" class="hero-element">Order Summary
            </div>
            <img id="guid_5f6c327f_6e40_4d9b_ab57_68f9f8f39009" class="hero-element"
              src="guid_5f6c327f_6e40_4d9b_ab57_68f9f8f39009.png">

            <img id="guid_fb3f5ea1_918c_4a34_a41f_345f07d84bf5" class="hero-element"
              src="guid_fb3f5ea1_918c_4a34_a41f_345f07d84bf5.png">

            <div id="guid_8dac813a_3604_4661_aefc_70f914398ac0" class="hero-element">Keep me up to date on news and
              offers.
            </div>
            <div id="guid_106ce70b_951a_4fda_b58a_bb741a2efc4b" class="hero-element">Email
            </div>
            <div id="guid_530dc6de_38ff_4ec3_9d0f_c355292a7546" class="hero-element">First Name
            </div>
            <div id="guid_ac650597_c6a0_4637_bf9d_2d3abb5d8690" class="hero-element">Card Number
            </div>
            <div id="guid_926e0250_d760_47ae_bcc0_2f87988f9cbf" class="hero-element">Expiration Date (MM/YY)
            </div>
            <div id="guid_93eced3a_504a_4d71_b40b_5f4a3402b8b6" class="hero-element">Last Name
            </div>
            <div id="guid_09c1dbc4_b540_4543_b7b9_87df89115072" class="hero-element">Name on Card
            </div>
            <div id="guid_a2126ada_f3b5_4c18_889d_ecbf8b2b8480" class="hero-element">Security Code
            </div>
            <div id="guid_bc434e71_0295_4a2b_bcc1_a615ee4a285e" class="hero-element">(last 3 digits on your card)
            </div>
            <div id="guid_5efdd963_ceac_4c79_80d3_1c9cb543553d" class="hero-element">Pakistan
            </div>
            <div id="guid_e1afa008_a760_4aee_b3ca_3e77071c6867" class="hero-element">
            </div>
            <div id="guid_01a0c559_e4a9_4bb7_b697_e9854728f578" class="hero-element">
            </div>
            <div id="guid_88f7356e_a91c_403f_acfd_af83591996c8" class="hero-element">
            </div>
            <div id="guid_73937b4c_f2d7_45cd_a08a_ccded63793f0" class="hero-element">Save this information for next
              time.
            </div>
            <div id="guid_00f8690d_a634_4a0a_b081_a8bed2200c8e" class="hero-element">
            </div>
            <div id="guid_65e78c7a_58e4_4b31_b1b5_c921708ca0b9" class="hero-element">
            </div>
            <div id="guid_373a1bba_60c3_445b_9ed1_95b23720b5b1" class="hero-element">
            </div>
            <div id="guid_6f77fe20_79ca_4cad_96fb_0cf7ecf1e59a" class="hero-element">
            </div>
            <div id="guid_beabec04_4b34_436d_a73a_01c1f21cb959" class="hero-element">
            </div>
            <div id="guid_c6acc6cf_c3ba_4b6c_b6f5_7613c5051138" class="hero-element">Address
            </div>
            <div id="guid_eb0a3754_06cc_4e54_bbe5_5c1fc137c786" class="hero-element">
            </div>
            <div id="guid_47880785_e638_4c2e_962b_784b63ee9ddf" class="hero-element">Appartment, suit etc (optional)
            </div>
            <div id="guid_02118d8e_9bad_4620_a7bb_658babdc7d3c" class="hero-element">
            </div>
            <div id="guid_b41b7959_9a13_4bc3_8279_f7ab4aff2eaf" class="hero-element">City
            </div>
            <div id="guid_fc3f4c65_dba6_4cd7_90d0_8e01282b936c" class="hero-element">
            </div>
            <div id="guid_5c615cf2_5db8_4441_88b2_a6bc90b1feb2" class="hero-element">Phone
            </div>
            <div id="guid_452fed9d_b8af_406c_9722_d8271753044f" class="hero-element">
            </div>
            <div id="guid_074145e1_83e6_4a10_86fa_93d974f491c1" class="hero-element">Country/region
            </div>
            <div id="guid_40ce77d9_887b_4c74_b619_e41d63285403" class="hero-element">Postal Code
            </div>
            <div id="guid_4b7d0e58_4c24_45e3_8d44_d85e452c292f" class="hero-element">
            </div>
            <div id="guid_408d6deb_5d83_473f_a68c_977e1f8aabb4" class="hero-element">
            </div>
            <div id="guid_f1882e50_facd_437d_80cf_466397a7e0e3" class="hero-element">
            </div>
            <div id="guid_f125f3d0_7104_46f7_9f08_ed08459b3ee9" class="hero-element">
            </div>
            <div id="guid_446f8361_dc90_4a2f_a6a7_3022424ecfdc" class="hero-element">
            </div>
            <div id="guid_28f3d990_9e93_4e43_929b_a635e362f58e" class="hero-element">
            </div>
            <img id="guid_8e92218d_ca80_4dde_b948_4b4b09310c34" class="hero-element"
              src="guid_8e92218d_ca80_4dde_b948_4b4b09310c34.png">

            <img id="guid_52991b54_9057_41b8_a815_c874295f4f9d" class="hero-element"
              src="guid_52991b54_9057_41b8_a815_c874295f4f9d.png">

            <img id="guid_e466b60a_1acc_40c3_959e_46f33329e03f" class="hero-element"
              src="guid_e466b60a_1acc_40c3_959e_46f33329e03f.png">

            <img id="guid_78eeaddc_a3cd_4e8e_b35c_40b4298bcc16" class="hero-element"
              src="guid_78eeaddc_a3cd_4e8e_b35c_40b4298bcc16.png">

            <img id="guid_938853f3_1f48_4d70_a76c_70f20f82d22f" class="hero-element"
              src="guid_938853f3_1f48_4d70_a76c_70f20f82d22f.png">

            <div id="guid_5e0c149a_c3da_4d03_8e69_18aa3585483f" class="hero-element">Payment
            </div>
            <div id="guid_2dae589f_7731_4482_b2e3_bd69cb4662b1" class="hero-element">All transactions are secure and
              encrypted.
            </div>
            <div id="guid_50fcbcf1_4d0e_4162_9a11_1739dbd11771" class="hero-element">Cash On Delivery (COD)
            </div>
            <div id="guid_4886b1fa_d9e7_430a_a86e_088e7d012cec" class="hero-element">
            </div>
            <div id="guid_64f35376_575d_48e1_bd20_334e417b5833" class="hero-element">
            </div>
            <div id="guid_1c262aac_10ba_46a0_b59b_adbb845af2cc" class="hero-element">
              <svg width="300" height="300"
                style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                <line id="guid_1c262aac_10ba_46a0_b59b_adbb845af2cc-line" x1="0" y1="0" x2="655.9239501953125" y2="0"
                  stroke="#707070" stroke-width="1" style="pointer-events: all;" />
              </svg>

            </div>
            <div id="guid_ee9b469b_9bb4_4e20_adc3_85169a035c49" class="hero-element">
              <svg width="300" height="300"
                style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                <line id="guid_ee9b469b_9bb4_4e20_adc3_85169a035c49-line" x1="0" y1="0" x2="655.9239501953125" y2="0"
                  stroke="#707070" stroke-width="1" style="pointer-events: all;" />
              </svg>

            </div>
            <div id="guid_1cd0f974_6dfb_4b7e_a435_711e5b9e06ad" class="hero-element">
              <svg width="300" height="300"
                style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                <line id="guid_1cd0f974_6dfb_4b7e_a435_711e5b9e06ad-line" x1="0" y1="0" x2="655.9239501953125" y2="0"
                  stroke="#707070" stroke-width="1" style="pointer-events: all;" />
              </svg>

            </div>
            <img id="guid_d86cd2bb_aaa5_461f_8e43_861017da2425" class="hero-element"
              src="guid_d86cd2bb_aaa5_461f_8e43_861017da2425.png">

            <div id="guid_c8c9da72_2b0f_4c2c_aa63_a0f8f7524e43" class="hero-element">Shark Brixton
            </div>
            <div id="guid_40dc60f5_13c3_449c_96a5_72022b10420d" class="hero-element">Order Number: AHU134XX
            </div>
            <div id="guid_67405726_2a98_47f6_b828_e8ba13a7c7b0" class="hero-element">Brixton Classic Curve
            </div>
            <div id="guid_65223c76_7bad_49cd_be11_a956088576a1" class="hero-element">
              <div id="guid_2edd93b0_6586_4944_8e1a_c0d39dec384b" class="hero-element">042
              </div>
              <div id="guid_e4218244_1156_46f2_8e9a_95cfa4c88197" class="hero-element">
                <svg width="300" height="300"
                  style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                  <line id="guid_e4218244_1156_46f2_8e9a_95cfa4c88197-line" x1="0" y1="0" x2="112.82656860351562" y2="0"
                    stroke="#f34545" stroke-width="1" style="pointer-events: all;" />
                </svg>

              </div>
            </div>
            <div id="guid_4a5024a5_f5ec_4834_ac6e_e904bbb16ac3" class="hero-element">
              <div id="guid_2292b48e_6ad9_4375_8b5d_b0b89dc6a799" class="hero-element">042
              </div>
              <div id="guid_00af36d7_3c58_4d0a_8adf_24a653ebfaf6" class="hero-element">
                <svg width="300" height="300"
                  style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                  <line id="guid_00af36d7_3c58_4d0a_8adf_24a653ebfaf6-line" x1="0" y1="0" x2="112.82656860351562" y2="0"
                    stroke="#f34545" stroke-width="1" style="pointer-events: all;" />
                </svg>

              </div>
            </div>
            <div id="guid_27ca00c0_509b_4d70_929c_f51c1f11080f" class="hero-element">Colour:
            </div>
            <div id="guid_306ab739_04ce_4675_9e82_5d1d6a4386c8" class="hero-element">Colour:
            </div>
            <div id="guid_817d8ed9_7848_4903_a806_f1202c345a55" class="hero-element">$ 500 x 01
            </div>
            <div id="guid_f39c2dff_a47d_47e9_9557_02cfa02beb6c" class="hero-element">$ 500 x 01
            </div>
            <div id="guid_61607b93_e08a_4b02_9220_9208d1668b84" class="hero-element">Delivery:
            </div>
            <div id="guid_6a8059b6_b6a6_4875_bec0_3580e05beb7a" class="hero-element">$ 20
            </div>
            <div id="guid_b29bc9a6_8afc_46fb_a606_30ec366d935e" class="hero-element">TOTAL:
            </div>
            <div id="guid_688ec22f_179c_46ef_ade4_71c44a9a944b" class="hero-element">$ 1,020
            </div>
            <div id="guid_80cc876c_8ebd_4474_b22a_eb0f9d40696f" class="hero-element">$ 0
            </div>
            <div id="guid_f0d9cfea_72ba_4e33_b17e_9a332edb21a6" class="hero-element">Discount:
            </div>
            <img id="guid_2dfc28fc_7b5b_4c03_960d_e32fbf478a0f" class="hero-element"
              src="guid_2dfc28fc_7b5b_4c03_960d_e32fbf478a0f.png">

            <div id="guid_635edb2d_18b4_45fc_b580_ab40f6190e46" class="hero-element">
            </div>
            <div id="guid_2d3380fd_32b8_4410_984b_e9063c7af312" class="hero-element">Size:
            </div>
            <div id="guid_066aeba1_84e4_4226_9273_b57654c1a2fe" class="hero-element">Size:
            </div>
            <div id="guid_1d85bd33_b404_4588_bf33_91f2b3b7084c" class="hero-element">L
            </div>
            <div id="guid_da6909f5_f0bd_48f5_a7db_8c0369a78f15" class="hero-element">L
            </div>
            <div id="guid_73bae7a4_952a_42e2_b05d_df6d24e73f19" class="hero-element">Gray
            </div>
            <div id="guid_023c47e1_4efd_4207_a414_f94fb8e1fb64" class="hero-element">Gray
            </div>
            <div id="guid_b53cc0b6_2b7d_4961_a618_168f4db5488c" class="hero-element">Checkout
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>