.navbar {
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 9999;
  background: transparent;
}
.navbar-inverse {
  background-color: rgba(255, 255, 255, 0.973);
  transition: 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
a {
  color: black;
  text-decoration: none;
}
.navbar-brand > img {
  max-height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 766px) {
  .relative {
    position: relative;
  }

  .padding {
    padding: 6px;
  }
  li {
    text-align: left;
  }

  li > a {
    text-decoration: none;
    color: black;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }
  .color {
    background: rgba(255, 0, 0, 0.801);
  }

  .color > li > a {
    color: white;
    font-size: 12px;
    text-align: center;
  }

  .color > li > a:hover {
    border-bottom: 1px solid white;
    transition: 0.1s;
  }
  .alignright {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
  }
  .width {
    width: 30%;
  }

  .loginbtn {
    width: 7em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mulish;
    font-size: 12px;
  }
  .navbar-brand > img {
    max-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mr-2em {
    margin-right: 1.8em;
  }
  .mr-1em {
    margin-right: 1em;
  }
  .heart {
    font-size: 22px;
  }
  .cart {
    font-size: 20px;
  }
  .loginwrap {
    margin-top: 8px;
  }
  .dropdownwrap {
    margin-top: 8px;
  }
  .dropdown-menu {
    padding: 10px;
    width: 150px !important;
    position: absolute;
    background-color: rgba(250, 7, 7, 0.842);
    z-index: 2000000;
  }
  .dropdown-menu li a {
    color: white;
    font-family: Mulish;
    font-size: 12px;
  }
  .dropdown-menu li a:hover {
    border-bottom: 1px solid white;
  }
}

@media screen and (min-width: 766px) {
  .navbar {
    padding: 0;
  }
  .alignright {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  li > img {
    padding: 0 20px;
  }
  li {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  li > a {
    padding: 10px 10px;
    padding-top: 3em;
    font-family: Mulish;
    font-size: 16px;
    height: 6em;
    font-weight: bolder;
  }
  li > a:hover {
    background-color: rgba(243, 10, 10, 0.849);
    color: white;
    border-bottom-right-radius: 22px;
  }
  li > p {
    padding: 10px 10px;
    padding-top: 2em;
    font-family: Mulish;
    font-size: 18px;
    height: 5em;
    font-weight: bolder;
  }

  li > i {
    font-size: 20px;
    padding: 0 20px;
    margin-top: 1.6em;
  }
  ul > p > a:hover {
    color: rgba(255, 0, 0, 0.658);
  }
  li > img {
    padding: 10px 20px;
    margin-top: 1.2em;
    height: 4em;
    width: 100%;
    object-fit: fill;
  }
  .dropdown-menu {
    width: 10px !important;
  }

  .loginwrap {
    margin-top: 14px;
    padding: 0 20px;
  }
  .loginwrap > button {
    width: 6em;
    height: 3em;
    font-size: 12px;
  }
  .signup {
    background-color: red;
    color: white;
    font-family: Mulish;
    border: 1px solid red;
  }
  .lgb {
    background-color: transparent;
    color: rgb(255, 0, 34);
    font-family: Mulish;
    border: 1px solid rgb(255, 0, 34);
  }
}

@media screen and (min-width: 1610px) {
  .navbar {
    padding: 0;
  }
  .alignright {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  li > img {
    padding: 0 20px;
  }
  li {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  li > a {
    padding: 10px 20px;
    padding-top: 3em;
    font-family: Mulish;
    font-size: 22px;
    height: 5em;
    font-weight: bolder;
  }
  li > a:hover {
    background-color: rgba(243, 10, 10, 0.849);
    color: white;
    border-bottom-right-radius: 22px;
  }
  li > p {
    padding: 10px 20px;
    padding-top: 1.9em;
    font-family: Mulish;
    font-size: 24px;
    height: 5em;
    font-weight: bolder;
  }

  li > i {
    font-size: 25px;
    padding: 0 20px;
    margin-top: 1.6em;
  }
  ul > p > a:hover {
    color: rgba(255, 0, 0, 0.658);
  }
  li > img {
    padding: 10px 50px;
    margin-top: 1.3em;
    height: 5em;
    width: 100%;
    object-fit: fill;
  }
  .dropdown-menu {
    width: 10px !important;
  }

  .loginwrap {
    margin-top: 22px;
    padding: 0 20px;
  }
  .loginwrap > button {
    width: 10em;
    height: 3em;
  }
  .signup {
    background-color: red;
    color: white;
    font-family: Mulish;
    border: 1px solid red;
  }
  .lgb {
    background-color: transparent;
    color: rgb(255, 0, 34);
    font-family: Mulish;
    border: 1px solid rgb(255, 0, 34);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
