<nav *ngIf="router.url!='/404'" (scroll)="onWindowScroll();" class="navbar navbar-expand-md navbar-light sticky-top">
    <a class="navbar-brand d-flex justify-content-center align-items-center mt-2 d-md-none" href="#">
        <img src="../assets/logos/logored.png" alt="">
    </a>

    <div class="d-flex flex-row  d-md-none">
        <div style="position:relative" class="mr-2em">

            <i (click)="viewFav()" style="position: relative;" class="far fa-heart heart pt-1 mr-1em"></i>


            <span *ngIf="fav == null" class="one text-center">
                0
            </span>

            <span *ngIf="fav !=null" class="one text-center">
                {{fav.length}}
            </span>

            <i (click)="openCart()" style="position: relative;" class="far fa-shopping-cart cart  pt-1"></i>
            <span *ngIf="cart== null" class="two text-center">
                0
            </span>

            <span *ngIf="cart != null" class="two text-center">
                {{cart.length}}
            </span>


        </div>
        <div>
            <button class="navbar-toggler text-danger" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>

    </div>

    <div class="collapse navbar-collapse center relative" id="navbarSupportedContent">

        <div class="alignright">
            <ul class="nav navbar-nav color  padding  width center">
                <li data-toggle="collapse" data-target=".navbar-collapse.show"><a [class.active]="router.url==='/home'"
                        [routerLink]="['home']" href="/home">HOME</a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.show"><a
                        [class.active]="router.url==='/products'" [routerLink]="['products']"
                        href="/products">PRODUCTS</a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.show"><a [class.active]="router.url==='/about'"
                        [routerLink]="['about']" href="/about">ABOUT</a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.show"><a
                        [class.active]="router.url==='/contact'" [routerLink]="['contact']" href="/contact">CONTACT</a>
                </li>
                <li data-toggle="collapse" data-target=".navbar-collapse.show" class="d-none d-sm-none d-md-inline"><img
                        id="logo" src="../assets/logos/logored.png" alt="Brand" width="180" />
                </li>

                <li class="d-none d-sm-none d-md-inline" style="position: relative;" data-toggle="collapse"
                    data-target=".navbar-collapse.show">
                    <p class="dropdown-toggle" id="menu1" data-toggle="dropdown">Language
                        <span class="caret"></span>
                    </p>

                    <ul class="dropdown-menu pt-0" style="list-style: none;position: absolute;top:5em;" role="menu"
                        aria-labelledby="menu1">

                        <p style="margin:0;padding: 10px;" data-toggle="collapse" data-target=".navbar-collapse.show"
                            class="abc">
                            <a class="abc" href="#">English</a>
                        </p>

                        <p style="margin:0;padding: 10px;" data-toggle="collapse" data-target=".navbar-collapse.show"
                            class="abc">
                            <a class="abc" href="#"> Swedish</a>
                        </p>

                    </ul>
                </li>

                <li style="position: relative;" class="d-none d-sm-none d-md-none d-lg-inline" data-toggle="collapse"
                    data-target=".navbar-collapse.show">
                    <i (click)="viewFav()" style="position: relative;" class="far fa-heart heart pt-1 mr-1em"></i>

                    <span *ngIf="fav ==null " class="zero">
                        0
                    </span>

                    <span *ngIf="fav != null" class="zero">
                        {{fav.length}}
                    </span>

                </li>

                <li style="position: relative;" class="d-none d-sm-none d-lg-inline" data-toggle="collapse"
                    data-target=".navbar-collapse.show">

                    <i style="position: relative;" (click)="openCart()" class="far fa-shopping-cart cart  pt-1"></i>
                    <span *ngIf="cart == null" class="zero">
                        0
                    </span>

                    <span *ngIf="cart != null" class="zero">
                        {{cart.length}}
                    </span>

                </li>

                <li *ngIf="!loggedIn" class="loginwrap  pt-lg-0" data-toggle="collapse"
                    data-target=".navbar-collapse.show">

                    <button (click)="openSignup('signup')" type="button"
                        class="btn loginbtn bigscreen signup btn-outline-light">Sign
                        Up</button>
                </li>


                <li *ngIf="loggedIn" class="avatar  pt-lg-0">

                    <div [matMenuTriggerFor]="menu" class="d-flex avimg">
                        <mat-icon class="icon">
                            account_circle
                        </mat-icon>
                        <p>
                            Muhammad Awais
                        </p>

                        <mat-icon class="icon2">
                            arrow_drop_down
                        </mat-icon>
                    </div>

                    <div>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Edit Profile</button>
                            <button (click)="logout()" mat-menu-item>Logout</button>
                        </mat-menu>
                    </div>


                </li>


                <li *ngIf="!loggedIn" data-toggle="collapse" data-target=".navbar-collapse.show"
                    class="loginwrap  pt-lg-0">
                    <button (click)="openLogin('login')" type="button"
                        class="btn bigscreenlgn loginbtn lgb btn-light">Login
                    </button>
                </li>

                <li class="dropdownwrap d-md-none">
                    <button class="loginbtn  btn btn-light dropdown-toggle" type="button" id="menu1"
                        data-toggle="dropdown">Language
                        <span class="caret"></span></button>

                    <ul class="dropdown-menu width" style="list-style: none;" role="menu" aria-labelledby="menu1">

                        <li data-toggle="collapse" data-target=".navbar-collapse.show" class="abc">
                            <a class="abc" href="#">English</a>
                        </li>

                        <li data-toggle="collapse" data-target=".navbar-collapse.show" class="abc">
                            <a class="abc" href="#"> Swedish</a>
                        </li>

                    </ul>

                </li>

            </ul>
        </div>


    </div>

</nav>


<router-outlet>

</router-outlet>