.navbar {
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 9999;
  background: transparent;
}
.navbar-inverse {
  background-color: rgba(255, 255, 255, 0.911);
  transition: 0.2s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
a {
  color: black;
  text-decoration: none;
}
.navbar-brand > img {
  max-height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  li {
    text-align: left;
  }

  li > a {
    text-decoration: none;
    color: black;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }
  .color {
    background: rgba(255, 0, 0, 0.801);
  }

  .color > li > a {
    color: white;
    font-size: 12px;
    text-align: center;
  }

  .color > li > a:hover {
    border-bottom: 1px solid white;
    transition: 0.1s;
  }
  .alignright {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
  }
  .width {
    width: 30%;
  }

  .loginbtn {
    width: 7em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mulish;
    font-size: 12px;
  }
  .navbar-brand > img {
    max-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mr-2em {
    margin-right: 1.8em;
  }
  .mr-1em {
    margin-right: 1em;
  }
  .heart {
    font-size: 22px;
  }
  .cart {
    font-size: 20px;
  }
  .loginwrap {
    margin-top: 8px;
  }
  .dropdownwrap {
    margin-top: 8px;
  }
  .dropdown-menu {
    padding: 10px;
    width: 150px !important;
    position: absolute;
    background-color: rgba(250, 7, 7, 0.842);
    z-index: 200;
  }
  .dropdown-menu li a {
    color: white;
    font-family: Mulish;
    font-size: 12px;
  }
  .dropdown-menu li a:hover {
    border-bottom: 1px solid white;
  }
}

@media screen and (min-width: 992px) {
  .width {
    width: 100%;
  }

  li > a {
    text-decoration: none;
    color: black;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }

  li > a {
    text-decoration: none;
    color: black;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 28px;
    padding: 0 10px;
    line-height: 30px;
  }

  .loginbtn {
    width: 6em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mulish;
    font-size: 22px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
