.hero-element {
    position: absolute;
}

#guid_c09c97ac_3aa6_4f40_99c7_8131229385f0 {
    width: 59px;
    height: 100px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 87, 0);
    background-color: #f00;
    border-radius: 0px 0px 25px 0px;
}

#guid_6c610700_d23c_46e6_8267_df76d7c2356b {
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 23.874176025390625, -25.557098388671875);
}

#guid_d9c80f04_d190_44b6_ac8d_3c0811afc983 {
    width: 41px;
    font-family: Oswald;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 71.12582397460938, 92.55709838867188);
}

#guid_2a2d8652_a83f_4d33_8333_d4c14d3e03e8 {
    width: 47px;
    font-family: Oswald;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 243.12582397460938, 92.55709838867188);
}

#guid_bcded2ac_ad52_4d03_a1ca_28affe2a32ff {
    width: 62px;
    font-family: Oswald;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 312.1258239746094, 92.55709838867188);
}

#guid_91f5347f_baa6_4846_9d1e_ddf339e4cbae {
    width: 74px;
    font-family: Oswald;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 133.12582397460938, 92.55709838867188);
}

#guid_befab96e_2aef_427e_bb34_abb4070b8240 {
    width: 6px;
    height: 8px;
    transform-origin: 50% 50%;
    transform: matrix(0, 1, -1, 0, 212.12579345703125, 101.5571060180664);
}

#guid_1138e213_0fb2_4e7b_8a67_f4fbf0df25ba {
    float: right;margin-top: 50px;
}

#guid_47210845_f481_4e21_ac82_5721761fdb01 {
}

#guid_8f62f788_f2cf_42b3_9167_15b32417c40e {
    width: 28px;
    font-family: Oswald;
    font-size: 16px;
    color: #000;
    text-align: right;
    font-weight: 700;
}

#guid_51bf2e44_1ea1_446c_8df4_0902c9a6edfb {
    width: 7px;
    height: 9px;
}

#guid_280c397e_436f_4304_8639_5487f81f83d9 {
    width: 43px;
    height: 43px;
}

#guid_afd5b5c1_e915_4ec9_a66c_06a8c6d84905 {
    width: 33px;
    height: 33px;
}

#guid_1031c908_fc89_4adc_9b87_7753f841911e {
    width: 16px;
    height: 17px;
    border-radius: 50% 50%;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1656, 86);
    background-color: #f00;
}

#guid_2cad9226_86fe_4c00_8b0e_1666083cf562 {
    width: 6px;
    font-family: Oswald;
    font-size: 6px;
    color: #fff;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1662, 90);
}

#guid_0b34fb81_c4f2_4b9d_98fc_fb00d17e4aae {
    width: 27px;
    height: 28px;
}

#guid_682dbfc9_3c61_4d87_8709_2f2f2df57685 {
    max-height: 68px;
    top: 45px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.navBar {
    background: rgb(255, 255, 255);
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 99999;
}

@keyframes logoShort {
    from {
        height: 68px;
        top: 45px;
    }
    to {
        height: 45px;
        top: 30px;
    }
}

@keyframes logoBig {
    from {
        height: 45px;
        top: 30px;
    }
    to {
        height: 68px;
        top: 45px;
    }
}

@keyframes navShort {
    from {
        height: 120px;
    }
    to {
        height: 90px;
    }
}

@keyframes navBig {
    from {
        height: 90px;
    }
    to {
        height: 120px;
    }
}

@keyframes pageShort {
    from {
        transform: matrix(1, 0, 0, 1, 71.12582397460938, 92.55709838867188);
    }
    to {
        transform: matrix(1, 0, 0, 1, 71.12582397460938, 75.55709838867188);
    }
}

@keyframes pageBig {
    from {
        transform: matrix(1, 0, 0, 1, 71.12582397460938, 75.55709838867188);
    }
    to {
        transform: matrix(1, 0, 0, 1, 71.12582397460938, 92.55709838867188);
    }
}

@keyframes aboutShort {
    from {
        transform: matrix(1, 0, 0, 1, 243.12582397460938, 92.55709838867188);
    }
    to {
        transform: matrix(1, 0, 0, 1, 243.12582397460938, 75.55709838867188);
    }
}

@keyframes aboutBig {
    from {
        transform: matrix(1, 0, 0, 1, 243.12582397460938, 75.55709838867188);
    }
    to {
        transform: matrix(1, 0, 0, 1, 243.12582397460938, 92.55709838867188);
    }
}

@keyframes proShort {
    from {
        transform: matrix(1, 0, 0, 1, 133.12582397460938, 92.55709838867188);
    }
    to {
        transform: matrix(1, 0, 0, 1, 133.12582397460938, 75.55709838867188);
    }
}

@keyframes proBig {
    from {
        transform: matrix(1, 0, 0, 1, 133.12582397460938, 75.55709838867188);
    }
    to {
        transform: matrix(1, 0, 0, 1, 133.12582397460938, 92.55709838867188);
    }
}

@keyframes arrow1Short {
    from {
        transform: matrix(0, 1, -1, 0, 212.12579345703125, 101.5571060180664);
    }
    to {
        transform: matrix(0, 1, -1, 0, 212.12579345703125, 80.5571060180664);
    }
}

@keyframes arrow1Big {
    from {
        transform: matrix(0, 1, -1, 0, 212.12579345703125, 80.5571060180664);
    }
    to {
        transform: matrix(0, 1, -1, 0, 212.12579345703125, 101.5571060180664);
    }
}

@keyframes contactShort {
    from {
        transform: matrix(1, 0, 0, 1, 312.1258239746094, 92.55709838867188);
    }
    to {
        transform: matrix(1, 0, 0, 1, 312.1258239746094, 75.55709838867188);
    }
}

@keyframes contactBig {
    from {
        transform: matrix(1, 0, 0, 1, 312.1258239746094, 75.55709838867188);
    }
    to {
        transform: matrix(1, 0, 0, 1, 312.1258239746094, 92.55709838867188);
    }
}


@keyframes iconShort {
    from {
        margin-top:50px;
    }
    to {
        margin-top: 37px;
    }
}

@keyframes iconBig {
    from {
        margin-top: 37px;
    }
    to {
        margin-top:50px;
    }
}


@keyframes redShort {
    from {
        height: 100px;
    }
    to {
        height: 80px;
    }
}

@keyframes redBig {
    from {
        height: 80px;
    }
    to {
        height: 100px;
    }
}

@keyframes navShort2 {
    from {
        padding: 30px;
    }
    to {
        padding: 10px;
    }
}

@keyframes navBig2 {
    from {
        padding: 10px;
    }
    to {
        padding: 30px;
    }
}

.mobile-container {
    position: fixed;
    z-index: 9999;
    width:100vw;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: white;padding: 30px;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(26, 25, 25);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    height: 40px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }