<div class="navBar" id="navBar" *ngIf="desktop == true">
    <div id="guid_c09c97ac_3aa6_4f40_99c7_8131229385f0" class="hero-element">
    </div>

    <div id="guid_6c610700_d23c_46e6_8267_df76d7c2356b" class="hero-element">
        <div id="guid_d9c80f04_d190_44b6_ac8d_3c0811afc983" class="hero-element">HOME
        </div>
        <div id="guid_2a2d8652_a83f_4d33_8333_d4c14d3e03e8" class="hero-element">ABOUT
        </div>
        <div id="guid_bcded2ac_ad52_4d03_a1ca_28affe2a32ff" class="hero-element">CONTACT
        </div>
        <div id="guid_91f5347f_baa6_4846_9d1e_ddf339e4cbae" class="hero-element">PRODUCTS
        </div>
        <img id="guid_befab96e_2aef_427e_bb34_abb4070b8240" class="hero-element"
            src="../assets/icons/guid_befab96e_2aef_427e_bb34_abb4070b8240.png">

    </div>
    <div id="guid_1138e213_0fb2_4e7b_8a67_f4fbf0df25ba">
        <div id="guid_47210845_f481_4e21_ac82_5721761fdb01" style="float: right; margin-right: 70px;margin-top: 10px;">
            <div id="guid_8f62f788_f2cf_42b3_9167_15b32417c40e" style="display: inline-block;">ENG
            </div>
            <img id="guid_51bf2e44_1ea1_446c_8df4_0902c9a6edfb"
                style="display: inline-block;margin-top: -5px;margin-left: 5px;"
                src="../assets/icons/guid_51bf2e44_1ea1_446c_8df4_0902c9a6edfb.png">
        </div>
        <img id="guid_280c397e_436f_4304_8639_5487f81f83d9" style="margin-right:10px;"
            src="../assets/icons/guid_280c397e_436f_4304_8639_5487f81f83d9.png">

        <img id="guid_afd5b5c1_e915_4ec9_a66c_06a8c6d84905" style="margin-right:10px;"
            src="../assets/icons/guid_afd5b5c1_e915_4ec9_a66c_06a8c6d84905.png">

        <img id="guid_0b34fb81_c4f2_4b9d_98fc_fb00d17e4aae" style="margin-right:10px;"
            src="../assets/icons/guid_0b34fb81_c4f2_4b9d_98fc_fb00d17e4aae.png">

    </div>
    <img id="guid_682dbfc9_3c61_4d87_8709_2f2f2df57685" class="hero-element"
        src="../assets/icons/guid_682dbfc9_3c61_4d87_8709_2f2f2df57685.png">
</div>


<div class="mobile-container" *ngIf="desktop == false" id = "navMob">

    <!-- Top Navigation Menu -->
    <div class="topnav">

        <img height="30px"
            src="../assets/icons/guid_682dbfc9_3c61_4d87_8709_2f2f2df57685.png">
        <div id="myLinks">
            <a href="#news">Home</a>
            <a href="#contact">Products</a>
            <a href="#about">About</a>
            <a href="#about">Contact</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- End smartphone / tablet look -->
</div>
<router-outlet>

</router-outlet>