<div>
    <div class="banner">

    </div>

    <div class="container  pt-2">

        <div class="row">
            <div class="col-4 a pt-3">

                <h1 class="oswald">Filtered By:</h1>

            </div>

            <div class="col-md-8 col-xl-8 col-lg-8 col-md-8">

                <div class="row">

                    <div class="col-8">
                        <div class="input-group pt-4">
                            <input type="text" class="form-control input" placeholder="Search!!">
                            <div class="input-group-append">
                                <button class="btn btns btn-danger" type="button">
                                    <mat-icon style="color: white;position: relative;top: 4px;">
                                        search
                                    </mat-icon>
                                </button>
                            </div>
                        </div>


                    </div>

                    <div class="col-4 pt-4">
                        <label class="dropdown">

                            <div class="dd-button">
                                Sort By
                            </div>

                            <input type="checkbox" class="dd-input" id="test">

                            <ul class="dd-menu">
                                <li>Newest</li>

                                <li class="divider"></li>
                                <li>None</li>
                            </ul>

                        </label>

                    </div>
                </div>

            </div>

        </div>

        <div class="container">
            <div class="row">

                <div class="col-12 sidebar col-md-4 col-lg-3 col-xl-3 col-sm-12">
                    <h1 class="oswald text-dark">CATEGORIES:</h1>

                    <ul class="list-group">
                        <li *ngFor="let item of [].constructor(15)" class="list-group-item">David Copperfield</li>

                    </ul>

                    <div class="row">
                        <div class="col-6">
                            <h1 class="oswald text-dark pt-2">COLOUR:</h1>

                            <div *ngFor="let item of [].constructor(8)" class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label mul label" for="customCheck2">BLACK</label>
                            </div>

                        </div>

                        <div class="col-6">
                            <h1 class="oswald text-dark pt-2">SIZE:</h1>

                            <div *ngFor="let item of [].constructor(8)" class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label mul label" for="customCheck2">LARGE</label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9 col-xl-9 col-sm-12">
                    <div class="allprods">

                        <div>
                            <div class="row p-1 d-flex justify-content-center">

                                <div *ngFor="let item of [].constructor(10)"
                                    class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-4  p-3">
                                    <div class="prodcard">

                                        <div class="lalpatiadjust">
                                            <img class="prodimg" src="../../assets/icons/product3.png" alt="">

                                            <div class="lalpati d-flex flex-column text-center align-items-center">

                                                <mat-icon class="pt-3" style="color: white;height: 28%;">
                                                    favorite_border
                                                </mat-icon>

                                                <img style="width: 50%;" src="../../assets/icons/lalpati/Line 11.png"
                                                    alt="">

                                                <h3 style="color: white;height: 30%;" class="pt-4 mt-4 mul">
                                                    VIEW</h3>


                                                <img style="width: 50%;" src="../../assets/icons/lalpati/Line 11.png"
                                                    alt="">

                                                <mat-icon class="pt-5" style="color: white;height: 28%;"
                                                    style="color: white;">
                                                    add_shopping_cart
                                                </mat-icon>

                                            </div>
                                        </div>

                                        <div class="text">
                                            <h2 class="text-center " style="font-family: Oswald;">
                                                <b>
                                                    Shark Brixton
                                                </b>
                                            </h2>

                                            <p class="mul text-center">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
                                                voluptatem!
                                            </p>
                                            <h2 class="text-center " style="font-family: Oswald;">
                                                <b>
                                                    $30
                                                </b>
                                            </h2>

                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<app-footer></app-footer>