<div class="banner">

</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-12 sidebar col-md-4 col-lg-3 col-xl-3 col-sm-12">
            <h1 class="oswald osh text-dark pad-50 pt-5">CATEGORIES:</h1>

            <ul class="list-group">
                <li *ngFor="let item of [].constructor(15)" class="list-group-item">David Copperfield</li>

            </ul>

            <div class="row pad-50">
                <div class="col-6">
                    <h1 class="oswald osh text-dark pt-3">COLOUR:</h1>

                    <div *ngFor="let item of [].constructor(8)" class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label mul label light-black" for="customCheck2">BLACK</label>
                    </div>

                </div>

                <div class="col-6">
                    <h1 class="oswald osh text-dark pt-3">SIZE:</h1>

                    <div *ngFor="let item of [].constructor(8)" class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label mul label light-black" for="customCheck2">LARGE</label>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 col-md-7 col-lg-8 col-xl-8 col-sm-12 oof">
            <div class="allprods p-3">

                <div style="width: 100%;background-color: rgba(255, 0, 0, 0.658);" class="p-2">
                    <h1 class="oswald text-light" style="position: relative;top: 5px;">
                        <b>
                            DAVID COPERFIELD
                        </b>
                    </h1>
                </div>

                <div class="pt-2">
                    <div class="row p-1 d-flex justify-content-center">

                        <div *ngFor="let item of [].constructor(10)" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                            <div class="prodcard">

                                <div class="lalpatiadjust">
                                    <img class="prodimg" src="../../assets/icons/product3.png" alt="">

                                    <div class="lalpati d-flex flex-column text-center align-items-center">

                                        <mat-icon class="pt-3" style="color: white;height: 28%;">
                                            favorite_border
                                        </mat-icon>

                                        <img class="wid-50" src="../../assets/icons/lalpati/Line 11.png" alt="">

                                        <h3 style="color: white;height: 30%;font-size: 12px;" class="pt-4 mt-4 mul">
                                            VIEW</h3>


                                        <img class="wid-50" src="../../assets/icons/lalpati/Line 11.png" alt="">

                                        <mat-icon class="pt-4" style="color: white;height: 28%;">
                                            add_shopping_cart
                                        </mat-icon>

                                    </div>
                                </div>

                                <div class="text">
                                    <h2 class="text-center " style="font-family: Oswald;">
                                        <b>
                                            Shark Brixton
                                        </b>
                                    </h2>

                                    <p class="mul text-center">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
                                        voluptatem!
                                    </p>
                                    <h2 class="text-center " style="font-family: Oswald;">
                                        <b>
                                            $30
                                        </b>
                                    </h2>

                                </div>
                            </div>
                        </div>

                    </div>



                </div>


            </div>

        </div>
    </div>

</div>







<app-footer></app-footer>