<style>
  .hero-element {
    position: absolute;
  }

  .fusion--player {
    background-color: #fff;
  }


  #guid_c24a3511_9ab0_4871_90f8_4734568300aa {
    position: absolute;
    width: 1657px;
    height: 2134px;
    background-color: #fff;
  }

  #guid_584e2516_bdfb_4539_a286_402b19320473 {
    width: 1656px;
    height: 153px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: #f00;
  }

  #guid_2c79ce60_8e68_4745_b32b_7b7e44090d76 {
    width: 1656px;
    height: 1981px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 1, 153);
    background-color: #fff;
  }

  #guid_3dd26896_8843_4526_a913_d1339a53b35f {
    width: 481px;
    font-family: Oswald;
    font-size: 80px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 458, 15);
  }

  #guid_4e7d2a60_0586_47c3_9c8b_d7f72f57bbc2 {
    width: 0px;
    height: 1143px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 505.5, 260.5);
    pointer-events: none;
  }

  #guid_49fc04fb_cb7c_4872_a844_5eb519483ac7 {
    width: 993px;
    height: 983px;
    font-family: Muli;
    font-size: 25px;
    color: #000;
    font-weight: 200;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 562, 337);
  }

  #guid_a310e71f_d1e6_4ece_a6b2_5ed694227f4e {
    width: 1121px;
    height: 45px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 562, 281);
  }

  #guid_2d3a3bf0_8fbd_4d67_ae02_fcf8ca5dffe5 {
    width: 19px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 529, 656);
  }

  #guid_d144873a_0483_4a00_9b0c_02cf3e14f6a8 {
    width: 19px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 531, 728);
  }

  #guid_226460e0_e493_4533_be2e_258f1c5eb28f {
    width: 19px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 531, 800);
  }

  #guid_e71db51a_062f_476e_abe3_9470a135b60c {
    width: 21px;
    height: 25px;
    transform-origin: 50% 50%;
    transform: matrix(6.123234262925839e-17, 1, -1, 6.123234262925839e-17, 528, 292);
  }

  #guid_aa70eda6_4d43_4b88_a005_2a106da0445f {
    width: 244px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 143, 285);
  }

  #guid_82c9f129_944c_4abf_ad58_197b0821d3cd {
    width: 29px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 700;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 82, 285);
  }

  #guid_92657177_c50b_4c7c_b76e_e0dc17b547e5 {
    width: 29px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 82, 393);
  }

  #guid_9f4301ba_0c2f_4bb1_a176_abea4d2d4724 {
    width: 29px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 82, 585);
  }

  #guid_54ed3f3c_f2fb_4e4e_adc5_482fe20fdd3f {
    width: 29px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 82, 777);
  }

  #guid_9cde99c3_44a8_470f_9cb8_624221fc23a4 {
    width: 29px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 84, 885);
  }

  #guid_7a9aade7_aace_4387_bbc2_a6942dcc9ca6 {
    width: 29px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 82, 1036);
  }

  #guid_3efb8f5d_2c8e_41a1_aef3_c9e649e70819 {
    width: 26px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 82, 1144);
  }

  #guid_377805bd_6795_48fe_919c_1dfda7f41ffa {
    width: 29px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 82, 1294);
  }

  #guid_895c464a_731b_4612_8ca3_d8d940234156 {
    width: 323px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 143, 393);
  }

  #guid_985a21ae_1573_4617_80cb_29119ce2b936 {
    width: 352px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 143, 585);
  }

  #guid_04363074_d882_4374_8be6_1b49e28a2be9 {
    width: 294px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 143, 777);
  }

  #guid_570ec183_78b1_4548_8313_6532cae6b4ee {
    width: 307px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 143, 886);
  }

  #guid_9c55497a_aaa0_4f6b_a426_69d4ee4ecdfa {
    width: 165px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 143, 1036);
  }

  #guid_caeadeaa_8e7f_4c45_884d_37d56705bed8 {
    width: 318px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 143, 1144);
  }

  #guid_93af2d9a_c10c_478e_a411_5dd576c3a7fa {
    width: 221px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 300;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 143, 1294);
  }

  #guid_8f9ebf0e_a3bc_475f_9e56_f49813307e07 {
    width: 1121px;
    height: 121px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 560, 1297);
  }

  #guid_5f241633_ba9b_4054_b7b3_0714bba2fb39 {
    width: 1121px;
    height: 89px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 560, 1418);
  }

  #guid_5b1553f7_d6d2_4a41_ae8b_581754691dd1 {
    width: 1121px;
    height: 45px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 560, 1616);
  }

  #guid_1a9b67e1_d23f_4c07_9a54_751526a5a5da {
    width: 1121px;
    height: 45px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 560, 1768);
  }

  #guid_72763e57_2573_49fd_91cd_8a48f73c6263 {
    width: 1121px;
    height: 45px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 560, 1539);
  }

  #guid_7aa49971_ce68_44bf_8ac4_ba4f66a3710f {
    width: 1121px;
    height: 45px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 560, 1692);
  }

  #guid_68f41c0d_bcdb_4e84_9727_beb777b7f094 {
    width: 1121px;
    height: 45px;
    font-family: Oswald;
    font-size: 33px;
    color: #000;
    font-weight: 900;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 560, 1844);
  }

  #guid_f5949097_7eac_4193_8780_46e04925d32e {
    width: 21px;
    height: 25px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 526, 1307);
  }

  #guid_d4c038ee_cba7_4752_a5d0_c127fcbbd96e {
    width: 21px;
    height: 25px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 526, 1428);
  }

  #guid_5e291d4b_8407_467a_8687_841730a26a85 {
    width: 21px;
    height: 25px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 526, 1626);
  }

  #guid_143e3ccf_e4a6_49e1_b872_a3956def4413 {
    width: 21px;
    height: 25px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 526, 1778);
  }

  #guid_0aacac9a_46d9_4f77_9c05_f33c72aea08c {
    width: 21px;
    height: 25px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 526, 1549);
  }

  #guid_7edea799_d671_4259_a60b_146f941b8226 {
    width: 21px;
    height: 25px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 526, 1702);
  }

  #guid_2ce1372b_438d_433d_a9cb_056148088d98 {
    width: 21px;
    height: 25px;
    transform-origin: 50% 50%;
    transform: matrix(1, 0, 0, 1, 526, 1854);
  }
</style>



<!-- /////////////////////// -->
<!-- Player -->
<div class="wrapper" style="position: relative; width: 100%; height: 100%;">
  <div id="player" class="fusion--player" style="width: 100%; height: 100%; ">
    <div class="fusion--viewport">




      <div class="fusion--scene fusion--scene--default scene-guid_c24a3511_9ab0_4871_90f8_4734568300aa">
        <div class="fusion--scene--content">

          <div id="guid_c24a3511_9ab0_4871_90f8_4734568300aa" class="artboard scene">
            <div id="guid_584e2516_bdfb_4539_a286_402b19320473" class="hero-element">
            </div>
            <div id="guid_2c79ce60_8e68_4745_b32b_7b7e44090d76" class="hero-element">
            </div>
            <div id="guid_3dd26896_8843_4526_a913_d1339a53b35f" class="hero-element">Privacy Policy
            </div>
            <div id="guid_4e7d2a60_0586_47c3_9c8b_d7f72f57bbc2" class="hero-element">
              <svg width="300" height="300"
                style="overflow: visible; position: absolute; left: 0px; top: 0px; pointer-events: none;">
                <line id="guid_4e7d2a60_0586_47c3_9c8b_d7f72f57bbc2-line" x1="0" y1="0" x2="0" y2="1143"
                  stroke="#707070" stroke-width="1" style="pointer-events: all;" />
              </svg>

            </div>
            <div id="guid_49fc04fb_cb7c_4872_a844_5eb519483ac7" class="hero-element">The controller of personal data
              pursuant to Article 4 (7) of Regulation (EU) 2016/679 of the European Parliament and of the Council on the
              protection of individuals with regard to the processing of personal data and on the free movement of such
              data (hereinafter: " GDPR ") is Leather Trade sro 28890001 with its registered office at Dismanova 2624,
              158 00 Prague 13 (hereinafter: " administrator ").<br /><br />The contact details of the administrator
              are:<br /><br />Address: Komunardů 1050/11, 170 00 Prague 7 - Holešovice<br /><br />Email:
              Brixtonobchod@seznam.cz<br /><br />Telephone: 777 727 988<br /><br />Personal data means any information
              relating to an identified or identifiable natural person; an identifiable natural person is a natural
              person who can be identified, directly or indirectly, in particular by reference to a specific identifier,
              such as name, identification number, location data, network identifier or one or more specific physical,
              physiological, genetic, mental, economic, cultural or social identity of that natural
              person.<br /><br />The controller has not appointed a data protection officer.
            </div>
            <div id="guid_a310e71f_d1e6_4ece_a6b2_5ed694227f4e" class="hero-element">BASIC PROVISION.
            </div>
            <div id="guid_2d3a3bf0_8fbd_4d67_ae02_fcf8ca5dffe5" class="hero-element">•
            </div>
            <div id="guid_d144873a_0483_4a00_9b0c_02cf3e14f6a8" class="hero-element">•
            </div>
            <div id="guid_226460e0_e493_4533_be2e_258f1c5eb28f" class="hero-element">•
            </div>
            <img id="guid_e71db51a_062f_476e_abe3_9470a135b60c" class="hero-element"
              src="guid_e71db51a_062f_476e_abe3_9470a135b60c.png">

            <div id="guid_aa70eda6_4d43_4b88_a005_2a106da0445f" class="hero-element">Basic provision
            </div>
            <div id="guid_82c9f129_944c_4abf_ad58_197b0821d3cd" class="hero-element">1-
            </div>
            <div id="guid_92657177_c50b_4c7c_b76e_e0dc17b547e5" class="hero-element">2-
            </div>
            <div id="guid_9f4301ba_0c2f_4bb1_a176_abea4d2d4724" class="hero-element">3-
            </div>
            <div id="guid_54ed3f3c_f2fb_4e4e_adc5_482fe20fdd3f" class="hero-element">4-
            </div>
            <div id="guid_9cde99c3_44a8_470f_9cb8_624221fc23a4" class="hero-element">5-
            </div>
            <div id="guid_7a9aade7_aace_4387_bbc2_a6942dcc9ca6" class="hero-element">6-
            </div>
            <div id="guid_3efb8f5d_2c8e_41a1_aef3_c9e649e70819" class="hero-element">7-
            </div>
            <div id="guid_377805bd_6795_48fe_919c_1dfda7f41ffa" class="hero-element">8-
            </div>
            <div id="guid_895c464a_731b_4612_8ca3_d8d940234156" class="hero-element">sources and categories<br />of
              personal data<br />processed
            </div>
            <div id="guid_985a21ae_1573_4617_80cb_29119ce2b936" class="hero-element">legal reason and purpose<br />of
              personal data<br />processing
            </div>
            <div id="guid_04363074_d882_4374_8be6_1b49e28a2be9" class="hero-element">data retention period
            </div>
            <div id="guid_570ec183_78b1_4548_8313_6532cae6b4ee" class="hero-element">recipients of personal<br />data
            </div>
            <div id="guid_9c55497a_aaa0_4f6b_a426_69d4ee4ecdfa" class="hero-element">your rights
            </div>
            <div id="guid_caeadeaa_8e7f_4c45_884d_37d56705bed8" class="hero-element">terms of personal
              data<br />security
            </div>
            <div id="guid_93af2d9a_c10c_478e_a411_5dd576c3a7fa" class="hero-element">final provisions
            </div>
            <div id="guid_8f9ebf0e_a3bc_475f_9e56_f49813307e07" class="hero-element">Sources and Categories of Personal
              Data <br />Processed.
            </div>
            <div id="guid_5f241633_ba9b_4054_b7b3_0714bba2fb39" class="hero-element">Legal Reason & Purpose of Personal
              Data <br />Processing.
            </div>
            <div id="guid_5b1553f7_d6d2_4a41_ae8b_581754691dd1" class="hero-element">recipients of personal data.
            </div>
            <div id="guid_1a9b67e1_d23f_4c07_9a54_751526a5a5da" class="hero-element">terms of personal data security.
            </div>
            <div id="guid_72763e57_2573_49fd_91cd_8a48f73c6263" class="hero-element">data retention period.
            </div>
            <div id="guid_7aa49971_ce68_44bf_8ac4_ba4f66a3710f" class="hero-element">your rights.
            </div>
            <div id="guid_68f41c0d_bcdb_4e84_9727_beb777b7f094" class="hero-element">final provisions.
            </div>
            <img id="guid_f5949097_7eac_4193_8780_46e04925d32e" class="hero-element"
              src="guid_f5949097_7eac_4193_8780_46e04925d32e.png">

            <img id="guid_d4c038ee_cba7_4752_a5d0_c127fcbbd96e" class="hero-element"
              src="guid_d4c038ee_cba7_4752_a5d0_c127fcbbd96e.png">

            <img id="guid_5e291d4b_8407_467a_8687_841730a26a85" class="hero-element"
              src="guid_5e291d4b_8407_467a_8687_841730a26a85.png">

            <img id="guid_143e3ccf_e4a6_49e1_b872_a3956def4413" class="hero-element"
              src="guid_143e3ccf_e4a6_49e1_b872_a3956def4413.png">

            <img id="guid_0aacac9a_46d9_4f77_9c05_f33c72aea08c" class="hero-element"
              src="guid_0aacac9a_46d9_4f77_9c05_f33c72aea08c.png">

            <img id="guid_7edea799_d671_4259_a60b_146f941b8226" class="hero-element"
              src="guid_7edea799_d671_4259_a60b_146f941b8226.png">

            <img id="guid_2ce1372b_438d_433d_a9cb_056148088d98" class="hero-element"
              src="guid_2ce1372b_438d_433d_a9cb_056148088d98.png">

          </div>
        </div>
      </div>




    </div>
  </div>
</div>