/* You can add global styles to this file, and also import other style files */

//for bootstrap

@import "~bootstrap/dist/css/bootstrap.css";

*,
body,
html {
  margin: 0;
  padding: 0;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(236, 51, 4);
  font-size: 36px;
}
.slick-prev:before {
  position: relative;
  right: 20px;
}


@media screen and (max-width: 500px) {
  .slick-prev:before,
.slick-next:before {
  color: rgb(236, 51, 4);
  font-size: 30px;
}
.slick-prev:before {
  position: relative;
  left: -9px;
}


}