<div>

    <div class="img d-flex justify-content-center flex-column text-center">

        <div class="d-flex justify-content-center text-center">


            <div class="imgtxt col-10 col-sm-8 col-md-8 col-lg-6">

                <div class="txtwrapper">

                    <div>
                        <h2 class="headin">WE BRING FASHION TO YOU</h2>
                    </div>

                    <div class="input-group pt-4">
                        <input type="text" class="form-control" placeholder="What are you looking for?">
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="button">
                                <mat-icon style="color: white;position: relative;top: 4px;">
                                    search
                                </mat-icon>
                            </button>
                        </div>
                    </div>


                    <div class="mediaIcons">
                        <img src="../../assets/icons/facebook-white.png" alt="">
                        <img src="../../assets/icons/twitter-white.png" alt="">
                        <img src="../../assets/icons/instagram-white.png" alt="">
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="freeship">

    </div>

    <div class="container pt-5">
        <img src="../../assets/headerImages/m0851-YQVZpQXKWg8-unsplash.jpg" alt="">
    </div>

    <div class="pt-5 text-center">
        <h2 class="headin text-dark">FIND THE BEST EXPERIENCE</h2>
    </div>

    <div class="container wrap">

        <div class="card d-flex flex-row">

            <div class="col-3">
                <img class="cardsnipet" src="../../assets/icons/Group 5.png" alt="">

            </div>



            <div class="col-9 m-0 pt-3">
                <h4 class="mul pt-2 text-center">Secure Payments</h4>
                <p class="muli r-2 text-center txtfnt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

        </div>


        <div class="card d-flex flex-row">

            <div class="col-3">
                <img class="cardsnipet" src="../../assets/icons/Group 6.png" alt="">

            </div>



            <div class="col-9 m-0 pt-3">
                <h4 class="mul pt-2 text-center">Fast Shipment</h4>
                <p class="muli r-2 text-center txtfnt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

        </div>


        <div class="card d-flex flex-row">

            <div class="col-3">
                <img class="cardsnipet" src="../../assets/icons/Group 7.png" alt="">

            </div>



            <div class="col-9 m-0 pt-3">
                <h4 class="mul pt-2 text-center">Support 24/7</h4>
                <p class="muli r-2 text-center txtfnt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

        </div>


        <div class="card d-flex flex-row">

            <div class="col-3">
                <img class="cardsnipet" src="../../assets/icons/Group 8.png" alt="">

            </div>



            <div class="col-9 m-0 pt-3">
                <h4 class="mul pt-2 text-center">Easy Returns</h4>
                <p class="muli r-2 text-center txtfnt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

        </div>


    </div>


    <div class="cats">
        <div class="container d-flex flex-column">
            <div class="pt-5 text-center">
                <h2 class="headin text-dark">All Categories</h2>
            </div>

            <div class="catswrap">

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 29.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 30.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 31.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 32.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 33.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 34.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 35.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 36.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 37.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 38.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 39.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 40.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 41.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 42.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>

                <div class="catcard">
                    <img src="../../assets/icons/Mask Group 43.png" alt="">
                    <div class="textcont">
                        Lorem, ipsum.
                    </div>
                </div>


            </div>
        </div>


    </div>

    <div class="prods">
        <div class="container d-flex flex-column">
            <div class="pt-5 text-center">
                <h2 class="headin text-dark">Our Products</h2>
            </div>

            <div class="prodcard">

                <img src="../../assets/icons/product3.png" alt="">

            </div>
        </div>

    </div>