.icon {
	display: flex;
	justify-content: right;

	i {
		color: red;
		font-size: 28px;
	}
}

.bg-img {
	height: 25em;
	object-fit: contain;
}

.sm-img {
	height: 20em;
	width: 12em;
	object-fit: contain;
}

.pl-2 {
	margin-left: 10px;
}
mat-form-field {
	width: 18em;
}

/* Rating Star Widgets Style */
.rating-stars ul {
	list-style-type: none;
	padding: 0;

	-moz-user-select: none;
	-webkit-user-select: none;
}
.rating-stars ul > li.star {
	display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
	font-size: 2.5em; /* Change the size of the stars */
	color: #ffcc36; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
	color: #ffcc36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
	color: #ff912c;
}
i:hover {
	color: #ffcc36;
}

.size-cont {
	border: 1px solid gray;
	border-radius: 1%;
	width: 3em;
	height: 3em;
	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;
	p {
		color: gray;
	}
}
h1 {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.836);
}
.price {
	font-size: 20px;
	font-weight: light;
	padding: 5px;
	font-family: 'Ubuntu', sans-serif;
}
.size-cont-active {
	border: 1px solid black;
	border-radius: 1%;
	width: 3em;
	height: 3em;
	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;
	p {
		color: black;
	}
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');